<!DOCTYPE>
<html>
<head>
<title> <h1> My Recipes <h1> </title>
</head>

<body>
  <form action="/recipes/"<%= @recipe.id %>/delete "method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" name="delete" id="delete" value="delete">Delete></button>
  </form>

</body>

</html>
</form>
