<!DOCTYPE>
<html>
<head>
<title> <h1> My Recipes  App. <h1> </title>
</head>

<body>
  <label for="delete">Delete Recipe:<%=recipe.name%>
  <form action="/recipes/<%=@recipe.id %>/delete" method="POST">
  <%@recipes.find_by_id|recipe|%>
  <%recipe.id=@recipe.id%>
  <%recipe.name=@recipe.name%>
  <button type="submit" name="delete" id="delete" value="delete">Delete</button>
  <%end%>
  </form>

</body>

</html>
</form>
