<form action="/recipes/<%= @recipe.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  
  <p>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" value="<%= @recipe.name %>">
  </p>
  
  <p>
    <label for="name">Ingredients: </label>
    <input type="text" id="ingredients" name="ingredients" value="<%= @recipe.ingredients %>">
  </p>
 
  <p>
    <label for="name">Cook Time: </label>
    <input type="text" id="cook_time" name="cook_time" value="<%= @recipe.cook_time %>">
  </p>
  
  <input type="submit" value="submit">
</form>