<form action="/recipes/<%= @r.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @r.name %>">
  </p>
  <p>
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients" value="<%= @r.ingredients %>">
  </p>
  <p>
    <label for="cook_time">Cook Time: </label>
    <input type="text" name="cook_time" value="<%= @r.cook_time %>">
  </p>
  <input type="submit" name="submit" value="submit">
</form>
