<!DOCTYPE>
<html>
<head>
<title> <h1> My Recipes App<h1> </title>
</head>

<body>
    <ol>
    <% @recipes.each do|recipe|%>
    <li> Recipe Name:<%= recipe.name %><a href="/recipes<%= recipe.id %>"</a></li>
    <% end %>
    <ol>
</body>

</html>
