<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
</head>
<body>
  <h1>Recipes</h1>
  <% @recipes.each do |recipe| %>
    <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
    <caption><%= recipe.cook_time %></caption>
    <p><%= recipe.ingredients %></p>
  <% end %>
</body>
</html>