<!DOCTYPE>
<html>
<head>
<title> <h1> My Recipes <h1> </title>
</head>

<body>
  <form action = "/index" method ="POST">

  <h2> Recipes Name: </h2> <input type = "string" name = "receipes" placeholder="receipes">
  <h3> Ingredients: </h3> <input type = "string" name = "ingredients" placeholder="ingredients">
  <h3> Cook Time: </h3> <input type = "string" name = "cook_time" placeholder="cook_time">
  <input type="submit" value="receipes">
</form>
</body>

</html>
