<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create your recipe!</title>
  </head>
  <body>
    <form class="recipe" action="/recipes" method="post">
      Name:<input type="text" name="name" id="name"><br>
      Ingredients: <input type="text" name="ingredients" id="ingredients"><br>
      Cook Time: <input type="text" name="cook_time" id="cook_time"><br>
      <input type="submit" name="submit" value="Click to see your new recipe!">
    </form>
  </body>
</html>
