<!DOCTYPE>
<html>
<head>
<title> <h1> My Recipes <h1> </title>
</head>
<body>
  <form action = "/new" method ="POST">
  <h2> Recipes Name: </h2> <input type = "string" name = "receipes" placehohder="receipes"></h2>
  <h2> Ingredients: </h2> <input type = "string" name = "ingredients" placeholder="ingredients"></h2>
  <h2> Cook Time: </h2> <input type = "string" name = "cook_time" placeholder="cook_time"></h2>
  <p>
  <input type="submit" value="SUBMIT">
</form>
</body>
</html>
