<form action="/recipes" method="POST">
  
  <p>
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
  </p>
  
  <p>
    <label for="name">Ingredients: </label>
    <input type="text" id="ingredients" name="ingredients">
  </p>
 
  <p>
    <label for="name">Cook Time: </label>
    <input type="text" id="cook_time" name="cook_time">
  </p>
  
  <input type="submit" value="Submit">
</form>