<h1>Create a New Recipe!</h1>
<form method="post" action='/recipes'>
	<p><input type='text' name='name' id='recipe_name' placeholder='Recipe Name:'></p>
	<p><textarea name='ingredients' id='ingredients_names' placeholder='Ingredients:'></textarea></p>
	<p><input type='text' name='cook_time' id='cook_time' placeholder='Cook Time:'></p>
	<input type='submit' id='submit' >
</form>