s

    <h2>Receipes Submission Form:</h2>
    <p>Enter a New Receipe Below:</p>

    <form action="/recipes" method="post">
      <p>
      <label for="name">Name:</label>
      <input type="text" name="name" value="" id="name">
      </p>

      <p>
      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" value="" id="ingredients">
      </p>

      <p>
      <label for="cook_time">Cooking Time:</label>
      <input type="text" name="cook_time" value="" id="cook_time">
      </p>
      <input type="submit" name="submit" id="submit">
    </form>
