<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
</head>
<body>
  <h1><%= @recipe.name %></h1>
  <caption><%= @recipe.cook_time %></caption>
  <p><%= @recipe.ingredients %></p>
  <form action="/recipes/<%= @recipe.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
</body>
</html>