<h1>Add New Recipe</h1>

<form action="/recipes" method="post">

  <p><label for="name">Name: </label></p>
  <p><input type="text" name="name"></p>

  <p><label for="ingredients">Ingredients: </label></p>
  <p><input type="text" name="ingredients" size="200"></p>

  <p><label for="cook_time">Cook Time: </label></p>
  <p><input type="text" name="cook_time"></p>

  <input type="submit" value="Done">

</form>
