<h1>New Recipe</h1>
<form action="/recipes" method="POST">
  <input type="text" name="recipe_name" placeholder="recipe name:">
  <input type="text" name="ingredients_names" placeholder="recipe ingredients:">
  <input type="text" name="cook_time" placeholder="recipe cook time:">
  <input type="submit" value="create">
</form>
