<form action="/recipes" method="post">
	<p>Name: <label for="name"><input type="text" name="name" id="name"></label></p>
	<p>Ingredients: <label for="ingredients"><input type="text" name="ingredients" id="ingredients"></label></p>
	<p>Cooking time: <label for="cook_time"><input type="text" 
name="cook_time" id="cook_time"></label></p>
	<p><label for="submit"><input type="submit" id="sumbit"></label></p>
</form>