
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Deleted</title>
  <style>
    input {
      margin: 5px
    }
  </style>
</head>

<body>
  <h1><%= @recipe.name %> was deleted</h1>
  <p><a href="/recipes">Back to Recipes!</a></p>
</body>
</html>