<h2>Are you sure you want to delete this recipe?</h2>
<form class="" action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="delete">
</form>

<p>
  Changed your mind? Click <a href="/recipes/<%=@recipe.id%>">here</a> to go back.
</p>
