<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="name" id="name" value="<%= @recipe.name %>"></p>
  <p>Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <p><%= @recipe.ingredients %></p>
  <p>Cook time: <input type="text" name="cook_time"></p>
  <input type="submit" value="submit">
</form>
