<h1>Edit the Recipe here...</h1>
<p>Name: <%= @recipe2.name %></p>
<p>Ingredients: <%= @recipe2.ingredients %></p>
<p>Cook Time: <%= @recipe2.cook_time %></p> minutes

<form action="/recipes/<%= @recipe2.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="integer" name="cook_time">
  <input type="submit" value="submit">
</form>
