<h1>Recipe for <%= "#{@recipe[:name]}" %></h1>
<h2>Ingredients: <%= "#{@recipe[:ingredients]}" %></h2>
<h2>Cook Time: <%= "#{@recipe[:cook_time]}" %></h2>


<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name">
    <input type="text" name="ingredients">
    <input type="text" name="cook_time">
    <input type="submit" value="submit">
</form>
