<h1>Edit Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h2>Name: <input type="text" name="name" id="name"></h2>
  <p>Current Ingredients: <%= @recipe.ingredients %></p>
  <h2>Ingredients: <input type="text" name="ingredients"></h2>
  <h2>Cook Time: <input type="text" name="cook_time"></h2>

  <input type="submit" name="submit" value="submit">
</form>
