<h1><%= @recipe.name %></h1>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %> minutes</p>
<br><br><br>

<form action='/recipes/<%=@recipe.id%>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="ingredients" placeholder="Ingredients">
  <input type="text" name="cook_time" placeholder="Cooking Time">
  <input id="submit" type="submit">
</form>
