<h1>Update Your Recipe!</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Recipe Name: </label>
  <input type="text" name="name" value="<%= @recipe.name %>"><br>
  <label>ingredients List: </label>
  <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"><br>
  <label>Cook Time: </label>
  <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"><br>
  <input type="submit" name="submit" value="submit">
</form>
