<h1>Edit your recipe here!</h1>

<form method="post" action="/recipes/<%= @recipe.id %>">
  <p>
    <label for="name"><strong>Name:</strong></label>
    <input type="text" id="name" name="name" value="<%= @recipe.name %>" />
  </p>
  <p>
    <label for="ingredients"><strong>Ingredients:</strong></label><br />
    <textarea id="ingredients" name="ingredients"><%= @recipe.ingredients %></textarea>
  </p>
  <p>
    <label for="cook_time"><strong>Cooking Time:</strong></label>
    <input type="text" id="cook_time" name="cook_time" value="<%= @recipe.cook_time %>" />
  </p>
</form>

<!-- Here's another way to use a textarea with a form: https://www.w3schools.com/tags/att_textarea_form.asp -->