<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h1>Name: <input type="text" value="<%=@recipe.name %>" name="name"></h1>
  <h2>Ingredients: <input type="text" value="<%=@recipe.ingredients %>"name="ingredients"></h2>
  <h2>Cook Time: <input type="text" value="<%=@recipe.cook_time %>"name="cook_time"></h2>
  <input type="submit" value="submit">
</form>
