<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input id="name" type="text" name="name" value="<%= @recipe.name %>"></p>
  <p>Ingredients: <input id="ingredients" type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>Cook Time (in minutes): <input id="cook_time" type="text" name="cook_time" value="<%= @recipe.cook_time %>"></p>
  <input type="submit" name="submit" value="Update Recipe" id="submit">
</form>
