<h1> <%= @recipe.name %> </h1>
<%= @recipe.ingredients %>  <br>
<%= @recipe.cook_time %>  <br>


<h2>Update Information</h2>
<form action= <%= "/recipes/#{@recipe.id}/edit" %> method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Name: <input type="text" name="name"> <br>
    Ingredients: <input type="text" name="ingredients"> <br>
    Cook Time: <input type="text" name="cook_time"> <br>
    <input type="submit" value=submit >
</form>