<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:<input id="name" type="text" value="<%=@recipe.name%>" name="name">
  <br>
  Ingredients:<input id="ingredients" type="text" value="<%=@recipe.ingredients%>" name="ingredients">
  <br>
  Cook Time:<input id="cook_time" type="text" value="<%=@recipe.cook_time%>" name="cook_time">
  <br>
  <input type="submit" value="submit">
</form>
