<h1>Edit Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Recipe Name: <input type="text" value="<%= @recipe.name %>" name="name"></h2>
  <p>Recipe Ingredients: <input type="text" value="<%= @recipe.ingredients %>" name="ingredients"></p>
  <p>Cook Time: <input type="text" value="<%= @recipe.cook_time %>" name="cook_time"></p>
  <h2><input type="submit" value="submit"></h2>
</form>
