<form action="/recipes/<%=@recipe.id%>" method="post">
  <p><label for="name">Name: </label><input type="text" value="<%=@recipe.name%>" name="name" id="name"></p>
  <p><label for="name">Ingredients: </label><input type="text" value="<%=@recipe.ingredients%>" name="ingredients" id="ingredients"></p>
  <p><label for="name">Cook Time: </label><input type="text" value="<%=@recipe.cook_time%>" name="cook_time" id="cook_time"></p>
</form>