<h3> You are Editing the Recipe: <%=@recipe.name%> </h3>

<label> With Ingredients: <%=@recipe.ingredients%> </label>

<form action= '/recipes/<%= @recipe.id%>' method= "post">
  <input id="hidden" type="hidden" name="_method" value="patch"></br>
  <label> Recipe Name: <input type="text" name="name" placeholder="name"></label></br></br>
  <label> Recipe Ingredients: <input type="text" name="ingredients" placeholder="ingredients"></label></br></br>
  <label> Cook Time: <input type="integer" name="cook_time" placeholder="minutes"></label></br></br>


  <label>  <input type="submit" value= "submit"></label>
</form>
