<!DOCTYPE html>
<html>
  <head>
    <title>Edit Recipe</title>
  </head>
  <body>
    <h3>Edit Your Recipe</h3>
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h6><input type="text" value="<%= @recipe.name %>" name="name"></h6>
      <p>Ingrdients: <input type="text" value="<%= @recipe.ingredients %>" name="ingredients"></p>
      <p>Cooking Time: <input type="text" value="<%= @recipe.cook_time %>" name="cook_time"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
