<form method="post" action="/recipes/<%= @recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <%= @recipe.ingredients%><input type="text" name="ingredients"></p>
    <p> Cook Time: <input type="text" name="cook_time"></p>
    <input id="submit" type="submit" name="submit">
</form>