<h1>Current Recipe: </h1>
<h1>Recipe Name: <%= @recipe.name %></h1>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cooking Time: <%= @recipe.cook_time %></p>

<h1>Edit Your Recipe: </h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name:<input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cooking Time: <input type="text" name="cook_time"></p>
  <input type="submit" value="Submit">
</form>