<h1>Edit a Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Recipe Name: <input type="text" name="name" value="<%= @recipe.name %>"></p>
  <p>Recipe Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>Recipe Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></p>
  <input type="submit" value="submit">
</form>
