<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @recipe.ingredients %></h2>
    <form class="" action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" name="name">
      <input type="text" name="ingredients">
      <input type="text" name="cook_time">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
