<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="text" name="name" value="<%= @recipe.name %>">
  <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
  <input type="text" name="cook_time" value="<%= @recipe.cook_time %>">
  <input type="submit" name="Edit">
</form>