<h1>Name: <%= @recipe.name %></h1>
<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Cook Time: <%= @recipe.cook_time %></h3>
<form method="post" action="/recipes/<%=@recipe.id%>">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label>Name: </label> <input type="text" name="name" value="">
	<label>Ingredients: </label><input type="text" name="ingredients" value="">
	<label>Cook Time: </label><input type="text" name="cook_time" value="">
	<br>
	<br>
	<input type="submit" name="submit" value="submit">
</form>