<form method="post" action="/recipes/<%= @recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
	<h3><%= @recipe.name%></h3><label for="name">Edit Name</label>
	<input id="name" type="text" name="name" placeholder="Name:">
	<h3><%= @recipe.ingredients%></h3><label for="ingredients">Edit Ingredients</label>
	<input id="ingredients" type="text" name="ingredients" placeholder="Ingredients:">
	<h3><%= @recipe.cook_time%></h3><label for="cook_time">Edit Cook Time</label>
	<input id="cook_time" type="text" name="cook_time" placeholder="Cook Time:">

    <input id="submit" type="submit" value="Up Date">

</form>