

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input type="text" name="recipe[name]" value="<%= @recipe.name %>" id="name"/>>
  <label for="ingredients">Ingredients</label>
  <input type="text" name="recipe[ingredients]" value= "<%= @recipe.ingredients %>" id="ingredients">
  <label for="cook_time">Cook Time</label>
  <input type="text" name="recipe[cook_time]" value= "<%= @recipe.cook_time" id="cook_time">
  <input type="submit" value="Submit">
</form>
