<h1>Recipe for Edit</h1>

<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" value="<%= @recipe.name %>" name="name"><br>
  Ingredients: <input type="text" value="<%=@recipe.ingredients%>" name="ingredients"><br>
  Cook Time: <input type="text" value="<%=@recipe.cook_time%>" name="cook_time"><br>
  <input type="submit" value="submit">
</form>
