<h1>Update Recipe</h1>

<h3><%= current_recipe.name %></h3>
<p><%= current_recipe.cook_time %></p>
<p><%= current_recipe.ingredients %></p>

<form action="/recipes/<%= current_recipe.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Name: <input type="text" id="name" name="name">
  Cook Time: <input type="text" id="cook_time" name="cook_time">
  Ingredients: <input type="text" id="ingredients" name="ingredients">
  <input type="submit" value="update">
</form>
