<h1>Edit Your Recipe!</h1>

<form method="post" action="/recipes/<%= @recipe.id %>">

<input id="hidden" type="hidden" name="_method" value="patch">
Recipe Title: <input type="text" value="<%=@recipe.name%>" name="name">
Recipe Ingredients: <input type="text" value="<%=@recipe.ingredients%>" name="ingredients">
Recipe Cook Time: <input type="text" value="<%=@recipe.cook_time%>" name="cook_time">
<input type="submit" value="submit">
</form>
