<!-- # PATCH (Sinatra POST)	'/posts/:id/edit'	edit action	edits one blog post based on ID in the url
# Recipe App edit page '/recipes/:id/edit' responds with a 200 status code
# Recipe App edit page '/recipes/:id/edit' contains a form to edit the recipe
# Recipe App edit page '/recipes/:id/edit' displays the recipe's ingredients before editing
# Recipe App edit page '/recipes/:id/edit' submits via a patch request -->
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: <input type="text" name="name" value="<%=@recipe.name%>"></label>
  <label>Ingredients: <input type="text" name="ingredients" value="<%=@recipe.ingredients%>"></label>
  <label>Cook Time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"></label>
  <input type="submit" value="submit">
</form>
