<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <%= @recipe.name %> <input type="text" name="name">
  <%= @recipe.ingredients %> <input type="text" name="ingredients">
  <%= @recipe.cook_time %> <input type="text" name="cook_time">

  <input type="submit" value="submit">
</form>