<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name: <input type="text" name="name" value="<%= @recipe.name %>"></label><br>
  <label>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></label><br>
  <label>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></label><br>
  <input type="submit" id="Submit" value="Submit">
</form>
