<%= @recipe.name %><br>
<%= @recipe.ingredients %><br>
<%= @recipe.cook_time %><br>


<form method="POST" action="/recipes/<%=@recipe.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
Name:<input type="text" name="name" id="recipe_name">
Ingredients:<input type="text" name="ingredients" id="ingredients_names">
Cook time:<input type="text" name="cook_time" id="cook_time">
<input type="submit" value ="submit">
</form>