<%Recipe.all.each do |list|%>
<h2><%=list.name%> - <%=list.ingredients%> - <%=list.cook_time%></h2>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <form method="patch" action="/recipes/:id">
    <label id="name" for="name"> Name </label>
    <label for="ingredients"> Ingredients </label>
    <label for="cook_time"> Cook_time </label>
    <input type="submit" value="submit">
    <input type="submit" value="delete">
</form>
<%end%>
