<p>test</p>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="recipe_name">
  <input type="text" name="recipe_ingredients">
  <input type="text" name="recipe_ingredients">
  <input type="submit" value="submit">
</form>
