<h1><%=@recipe.name%></h1>
<h3>Ingredients:</h3>
<p><%=@recipe.ingredients%></p>
<h3>Cook Time:</h3>
<p><%=@recipe.cook_time%></p>
<h1>Update this recipe in the form below:</h1>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
