<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="Name">
  <input type="text" name="Ingredients">
  <input type="text" name="Cook Time">
  <input type="submit" value="submit">
</form>
