<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="ingredients"><%= @recipe.ingredients %>
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
  <!--<p><input type="text" name="name">Name:-->
  <!--<input type="text" name="ingredients">Ingredients:-->
  <!--<input type="number" name="cook_time">Cook Time: -->
  <!--<input type="submit">-->
  </p>
  </form>