<form method="POST" action="/recipes/:id/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h1>Recipe Name: <input type="text" name="name"></h1>
  <p>Ingredients: <input type="text" name="ingredients"></p>
   <p>Cook Time: <input type="text" name="cook_time"></p>
  
  <input type="submit" id="submit" name="submit">
</form>