<form action="/recipes/<%=@recipe.id%>/edit" method="post">
  <!--the code below allows an edit form -->
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input id="recipe_name" text="text" name="name" value="<%=@recipe.name%>">
  Ingredients: <input id="recipe_name" name="ingredients" value="<%=@recipe.ingredients%>">
  Cook time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>">

  <input type="submit" name="submit" value="submit">

</form>
