<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch" />

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%=@recipe.name%>" />

  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients" value="<%=@recipe.ingredients%>" />

  <label for="cook_time">Cook Time</label>
  <input type="text" id="cook_time" name="cook_time" value="<%=@recipe.cook_time%>" />

  <input type="submit" value="submit" />
</form>
