<form action="/recipes/<%=@recipe.id%>" method="post">
 <input id="hidden" type="hidden" name="_method" value="patch">
 <p>Name:</p><input type="text" value="<%=@recipe.name%>" name="name">
 <p>Ingredients:</p><input type="text" value="<%=@recipe.ingredients%>" name="ingredients">
 <p>Cooktime:</p><input type="text" value="<%=@recipe.cook_time%>" name="cook_time">
 <p><input type="submit" name="submit" value="submit"></p>
</form>
