<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %></p>

<form action= "/recipes/<%= @recipe.id %>" method = "post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:<label>
    <input id ="name" type="text" name="name">
  <label for="ingredients">Ingredients:<label>
    <input id ="ingredients" type="text" name="ingredients">
  <label for="cook_time">Cook Time:<label>
    <input id ="cook_time" type="text" name="cook_time">
  <button type = "submit">Submit</button>
</form>
