<%= current_recipe.name %>
<%= current_recipe.ingredients %>
<%= current_recipe.cook_time %>

<form method="POST" action="/recipes/:id/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  Cooking Time: <input type="text" name="cook_time">
  <input type="submit" id="submit">
</form>
