<h1> Edit Your Post! </h1>

<form action="/posts/:id" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="recipe_name" placeholder="#{<%= @recipe.name%>"><br><br>
 Recipe Ingredients<br> <textarea rows="4" cols="50" name="recipe_ingredients" placeholder="#{<%= @recipe.ingredients%>""></textarea><br><br>
Recipe Cooktime <br> <input type="text" name="cook_time" placeholder="#{<%= @recipe.cook_time%>""><br><br>
<input type="submit" value="Edit Recipe">
</form>