<h1>Edit:</h1>
<h3><%= @recipe.name %></h1>
<h4>Ingredients: <%= @recipe.ingredients %></h3>
<h5>Cook Time: <%= @recipe.cook_time %></h5>

<form method="POST" action="/recipes/<%=@recipe.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" placeholder="Name:" name="name">
<input type="text" placeholder="Ingredients:" name="ingredients">
<input type="text" placeholder="Cook Time:" name="cook_time">
<input type="submit" value="submit">
</form>
