<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Box</title>
</head>
<body>
  <a href="index.erb"><h1>Recipe Box</h1></a>
  <h2><%= @recipe.name %></h2>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Cook time: <%= @recipe.cook_time %></p>
  <form method="POST" action="/recipes/<%=@recipe.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  Cook time: <input type="text" name="cook_time">
  <input type="submit" value="submit">
  </form>
</body>
</html>