<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Recipe</title>
  </head>
  <body>
    <h1>Edit a Recipe</h1>
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p>Name: <input type="text" name="name" value="<%= @recipe.name %>"></p>
      <p>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
      <p>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></p>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
