
<%=@recipe.name%><br>
<%=@recipe.ingredients%><br>
<%=@recipe.cook_time%><br>


<form method="post" action="/recipes/<%=@recipe.id%>">

  <input id="hidden" type="hidden" name="_method" value="patch">

  Name: <input id="recipe_name" type="text" name="name">

  Ingredients: <input id="ingredients_names" type="text" name="ingredients">

  Cook Time: <input id="cook_time" type="text" name="cook_time">

  <input type="submit" name="submit" value="submit">

</form>
