<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h2>Name: <input type="text" name="name" value="<%= @recipe.name %>"></h2>
    <h2>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></h2>
    <h2>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></h2>
    <input type="submit" id="submit" value="Submit">
</form>