<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:</label><br>
  <textarea name="recipe_name"><%= @recipe.name %></textarea><br>
  <label for="ingredients">Ingredients:</label><br>
  <textarea name="ingredients_names"><%= @recipe.ingredients %></textarea><br>
  <label for="cook_time">Cook Time:</label><br>
  <textarea name="cook_time"><%= @recipe.cook_time %></textarea><br>
  <input type="submit" value="submit">
</form>