<h1>Practice makes perfect!</h1>
<form method='POST' action="/recipes/<%= @recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" id="name" name="name" value="<%= @recipe.name %>"/>
  <input type="text" id="ingredients" name="ingredients" value="<%= @recipe.ingredients %>"/>
  <input type="text" id="cooke_time" name="cook_time" value="<%= @recipe.cook_time %>"/>
  <input type="submit" id="submit" value="Submit"/>
</form>
