<h1>Here's the recipe detail:</h1>
<p>
  Recipe Name: <%= @recipe.name %>
</p>
<p>
  Recipe Ingredients: <%= @recipe.ingredients %>
</p>
<p>
  Recipe Cook Time: <%= @recipe.cook_time %>
</p>

<form action="/recipes/<%= @recipe.id %>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" />

  <label for="ingredients">Ingredients:</label>
  <input type="text" id="ingredients" name="ingredients" />

  <label for="cook_time">Cook Time:</label>
  <input type="text" id="cook_time" name="cook_time" />

  <input type="submit" id="submit" value="Submit" />
</form>
