<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Recipe</title>
  </head>

  <body>

    <form method="post" action="/recipes/<%= @recipe.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h2>Recipe Name: <input type="text" name="name" value="<%= @recipe.name %>"></h2>
      <h3>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></h3>
      <h3>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></h3>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
