<form method="post" action="/recipes/<%= @recipe.id %>">
  <p>
    <label for="ingredients">Ingredients:</label><br />
    <textarea id="ingredients" name="ingredients"><%= @recipe.ingredients %></textarea>
  </p>
</form>

<!-- Here's another way to use a textarea with a form: https://www.w3schools.com/tags/att_textarea_form.asp -->