<h3>Edit the recipe:</h3>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
  Name: <%=@recipe.name%> <input type="text" name="name">
  Ingredients: <%=@recipe.ingredients%> <input type="text" name="ingredients">
  Cook Time: <%=@recipe.cook_time%> <input type="text" name="cook_time">
  <input type="submit" value="submit">
</p>
</form>
