<h1> Edit Post</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Recipe Name: <input type="text" value="<%= @recipe.name %>" name="name">
  <p>Ingredients: <input type="text" value="<%= @recipe.ingredients %>" name ="ingredients">
  <p>Cook Time: <input type="text" value="<%= @recipe.cook_time %>" name ="cook_time">
  <input type="submit" id="submit" value="submit">
</form>
