<html>
<head>
  <title></title>
</head>
<body>
<p>Name: <%= @recipe.name %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %> minutes<p>

<form method="posts" action= "/recipes/<%= @recipe.id %>" >
  <input type="text" name="name" value= "@recipe.name">
  <input type="text" name="ingredients" value= "@recipe.ingredients">
  <input type="text" name="cook_time" value= "@recipe.cook_time">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form>
</body>
</html>
