<h1>Edit this Recipe</h1>

<h3>Recipe Name: <%=@recipe.name%></h3>
<h3>Recipe Ingredients: <%=@recipe.ingredients%></h3>
<h3>Recipe Cook Time: <%=@recipe.cook_time%> minutes</h3>


<form action="/recipes/<%=@recipe.id%>" method ="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" name="name">
  Ingredients<input type="text" name="ingredients">
  Cook Time<input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
