<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  New Name: <input type="text" name="name" value="<%=@recipe.name%>"><br>
  New Ingredients: <input type="text" name="ingredients" value="<%=@recipe.ingredients%>"><br>
  New Cook Time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"><br>
  <input type="submit" name="" value="submit">
</form>
