  

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <%= @recipe.name %>
    <%= @recipe.ingredients %>
    <%= @recipe.cook_time %>
  <input type = "text" id = "name" name = "name">
  <input type = "text" id = "ingredients" name = "ingredients">
  <input type = "text" id = "cook_time" name = "cook_time">
  <input id = "submit" type = "submit">
</form>