<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <title>Recipes Lab</title>
  </head>
  <body>
<h2><%= @recipe.name %></h2>
<p>
  <%= @recipe.ingredients %><br>
  Cook Time: <%= @recipe.cook_time %> minutes
</p>


<form method="post" action="/recipes/<%= @recipe.id%>"  id="recipe-update">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name" ><br>

  <textarea name="ingredients" rows="8" cols="40" placeholder="Ingredients" form="recipe-update"></textarea><br>
  <input type="text" name="cook_time" placeholder="Updated Cooking Time"><br>
  <input type="submit" name="submit" value="submit">
</form>

<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
