<form action="/recipes/<%= @recipe.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= @recipe.name %>"><br>
  <label for="ingredients">Ingredients:</label>
    <input type="textarea" id="ingredients" name="ingredients" value="<%= @recipe.ingredients %>"><br>
  <label for="time">Cook Time:</label>
    <input type="text" id="time" name="cook_time" value="<%= @recipe.cook_time %>"><br>
  <input type="submit" value="submit">
</form>
