<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Recipe!</title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <p><%= @recipe.ingredients %></p>
    <form class="" action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" name="name" value="" placeholder="Name:">
      <input type="text" name="ingredients" value="" placeholder="Ingredients:">
      <input type="text" name="cook_time" value="" placeholder="Cooktime:">
      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
