<h2>Current Recipe</h2>
<h3><%= @recipe.name %></h3>
Ingredients: <%= @recipe.ingredients %><br>
Cook Time: <%= @recipe.cook_time %>

<h2>Update Here</h2>
<form action='/recipes/<%=@recipe.id%>' method='post'>
    <input id="hidden" type="hidden" name="_method" value="patch">
    Recipe Name: <input type="text" name="name">
    Ingredients: <input type="text" name="ingredients">
    Cook Time: <input type="text" name="cook_time">
    <input type="submit" value="submit">
</form>
