<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name of recipe">
	<input type="text" name="ingredients" placeholder="ingredients">
	<input type="text" name="cook_time" placeholder="cooking time">
	<input type="submit" value="Submit">
  
</form>