<form method="post" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name ">Recipe Name:</label>
  <br>
  <input type="text" value="<%=@recipe.name%>" name="name">
  <br>
  <br>
  <label for="ingredients">Ingredients: </label>
  <br>
  <input type="text" value="<%=@recipe.ingredients%>" name="ingredients">
  <br>
  <br>
  <label for="cook_time">Cook Time: </label>
  <br>
  <input type="text" value="<%=@recipe.cook_time%>" name="cook_time">
  <br>
  <br>
  <input type="submit" value="submit">
</form>
