<h3> Edit your recipe. Click save to commit changes </h3>

<form method = "post" action = '/recipes/<%=@id%>'>

<label for = "name">Name: </label>
<input type = "text" name = "name" id = "name" value = "<%=Recipe.find(@id).name%>"> <br>

<br>

<label for "content">Ingredients: </label>
<input type = "text" name = "ingredients" id = "ingredients" value = "<%=Recipe.find(@id).ingredients%>"> <br>

<label for "content">Cook time: </label>
<input type = "text" name = "cook_time" id = "cook_time" value = "<%=Recipe.find(@id).cook_time%>"> <br>



<input id="hidden" type="hidden" name="_method" value="patch">
<input type = "submit" name = "submit" value = "submit" id = "submit">
</form>