<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
      <h3>Ingredients: <%= @recipe.ingredients %></h3>
      <h4>Cook time: <%= @recipe.cook_time %> minutes</h4>
    <h1>Edit-a-Recipe</h1>
    <form action="/recipes/<%= @recipe.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>Recipe name: <input type="text" name="name"></h3>
      <h4>Recipe ingredients: <input type="text" name="ingredients"></h4>
      <h4>Recipe cook time: <input type="integer" name="cook_time"></h4>
      <input type="submit" value="submit">
    </form>
  </body>
</html>