<h1>Edit Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
<h3>Recipe: <input type="text" name="name" placeholder="<%= @recipe.name %>"></h3>
<h3>Ingredients: <input type="text" name="ingredients" placeholder="<%= @recipe.ingredients %>"></h3>
<h3>Cook Time: <input type="text" name="cook_time" placeholder="<%= @recipe.cook_time %>"></h3>
<input type="submit" value="submit">
</form>
