<form>
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="name">
	<input type="text" name="ingredients" placeholder="<%= @recipe.ingredients%>">
	<input type="text" name="cook_time">
</form>
