<!DOCTYPE html>
<html>
<head>
  <h1>Edit Your Recipe Here;</h1>
</head>

<body>
  <%=@recipe.name%>
  <%=@recipe.ingredients%>
  <%=@recipe.cook_time%>

  <form  action="/recipes/<%=@recipe.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
      <p><input type="text" name="name"></p>
      <p><input type="text" name="ingredients"></p>
      <p><input type="text" name="cook_time"></p>
    <!-- <input id="hidden" type="hidden" name="_method" value="edit">
    <input type="submit" value="edit"> -->
    <input type="submit" name="submit" id="submit" value="submit">

  </form>
</body>
</html>
