<h1> <%= @recipe.name %> </h1>
<h1>Ingredients: <%= @recipe.ingredients %> </h1>
<h1>Cook time: <%= @recipe.cook_time %> </h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Recipe name:<input type="text" name="name">
  Recipe ingredients:<input type="text" name="ingredients">
  Recipe cook time:<input type="integer" name="cook_time">
  <input type="submit" value="submit">
</form>