<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Post</title>
  </head>
  <body>
  <h1><%=@recipe.name%></h1>
  <h3><%=@recipe.cook_time%></h3>
  <p><%=@recipe.ingredients%></p>
    <form method = "post" action = "/recipes/<%=@recipe.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for = "name">Name:</label>
      <input type = "text" name = "name" id = "name" >
      <label for = "ingredients">Ingredients:</label>
      <input type = "text" name = "ingredients" id = "ingredients" >
      <label for = "cook_time">Cook Time:</label>
      <input type ="text" name = "cook_time" id = "cook_time">
      <input type = "submit" value = "submit">
    </form>
  </body>
</html>
