<!DOCTYPE html>
<html>
    <head>
      <title>My Recipes Collection</title>
    </head>
    <body>
      <h1>Ooops...something went wrong!</h1>
      
      <p>Please try again. Go to <a href = "/">home page</a>.</p>
  </body>
</html>