<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Righteous Recipes</title>
  </head>
  <body>
    <h1>Welcome to righteous recipes!</h1>
    <p><a href="/recipes/new">create a new recipe</a></p>
    <p><a href="/recipes">look at all recipes</a></p>
  </body>
</html>
