<!DOCTYPE html>
<html>
    <head>
      <title>My Recipes!</title>
    </head>
    <body>
      <h1>My Recipes Application</h1>
      
      <p>This application will let you view all your <a href = "/recipes">saved recipes</a>, <a href='recipes/:id/edit'>edit recipes</a>, and <a href='/recipes/new'>add new recipes</a> to your collection.</p>
  </body>
</html>