<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>recipes</h1>
    <ul>
      <% @recipes.each do |r| %>
      <li>Name: <a href="/recipes/<%=r.id%>"><%= r.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
