<h1>Recipe Creator</h1>

<%@recipes.each do |recipe|%>
  <h2><%=recipe.name%></h2>
  <h3><%=recipe.ingredients%></h3>
  <h3><%=recipe.cook_time%></h3>
  <a href="/recipes/<%=recipe.id %>">Link</a>
<% end %>
