<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>All recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>

      <% @recipes.all.each do |recipe| %>
        <h2>Name: <%= recipe.name %></h2>
        <p>Ingredients: <%= recipe.ingredients %></p>
        <p>Cook Time: <%= recipe.cook_time %></p>
        <p><a href="/recipes/<%= recipe.id %>">Recipe Link</a>
      <% end %>

  </body>
</html>
