<h1>Your Recipes</h1>

<% @recipes.each do |recipe| %>
  <h2><em><%= recipe.name %></em></h2>
  <a href="/recipes/<%= recipe.id %>">Go to recipe page</a>
<% end %>

<!-- <p>
    Ingredients: 
    <ul>
      <%# recipe.ingredients.split(",").each do |ingredient| %>
        <li><%#= ingredient %></li>
      <%# end %>
    </ul>
    Cook Time: <%#= recipe.cook_time %>
  </p> -->