<% @recipes.each do |recipe| %>
  <div>
    <a href="/recipes/<%= recipe.id %>"> Link</a>
    <p><%= recipe.name %> </p>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cook_time %></p>
  </div>
<% end %>
