<%if @recipes.size > 1%>
  <h2>Your Recipes:</h2>
  <%@recipes.each do |recipe|%>
      <h3>Name: <%=recipe.name%></h3>
      <h4>Ingredients: <%=recipe.ingredients%></h4>
      <h4>Cook Time: <%=recipe.cook_time%></h4>
      <a href="/recipes/<%=recipe.id%>">LINK</a>
      <%end%>
    <%else%>
    <h2>It looks like you haven't added any recipes yet. Start adding <a href="/recipes/new">here.</a>

      <%end%>
