<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipes R Us</h1>
    <% @recipes.each do |recipe| %>
      <p>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
      </p>
    <% end %>
    <p>
      <a href="/recipes/new">Create a Recipe</a>
    </p>
  </body>
</html>