<div id="content-wrapper">
  <h1>Look at all these Recipes</h1>

  <div class="button-wrapper">
    <a href="/recipes/new">Add a recipe</a>
    <a href="/recipes">View all recipes</a>
  </div>
</div>
