<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
  </head>
  <body>
    <% @recipes.each do |recipe| %>
      <p><%= recipe.name %></p>
    <% end %>

    Bomb.com Mac and Cheese
    waldorf salad


  </body>
</html>