<h1>Your Recipes</h1>

 <ol>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>">Name:<%= recipe.name %></a></li>
    Ingredients: <%= recipe.ingredients %><br>
    Cook Time: <%= recipe.cook_time %>
  <%end%>
</ol>

</form>
