<% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a><br>
  Ingredients: <%= recipe.ingredients %><br>
  Cooking time: <%= recipe.cook_time %><br>
<% end %>
