<h1>Welcome to your Recipes!</h1>
<div>
  <p><a href='/recipes/new'>Add a new recipe</a>
</div>
  <ol>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ol>
