<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/recipes/new">Add A Recipe</a>
    <% @recipes.each do |t| %>
    <p><a href="/recipes/<%= t.id %>"><%= t.name %></a></p><br>
    <%end%>
  </body>
</html>
