<% @recipe.all.each do |recipe| %>
    <p><%= recipe.name %></p>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cook_time %></p>
    <p><a href="/recipes/<%= recipe.id %>">Recipe Page</a></p>
<% end %>