<% @recipes.each do |recipe| %>

<ul>
	<br>
	<li><%= recipe[:name] %></li>
	<li><%= recipe[:ingredients] %></li>
	<li><%= recipe[:cook_time] %></li>
	<li><a href=<%= "/recipes/#{recipe[:id]}"%>>Link</a></li>
</ul>

<% end %>