<body>
  <h1>Recipes</h1>
  <a href="/recipes/new">Create a new recipe</a>
  <% @recipes.each do |r| %>
    <p><%= r.id %></p>
    <p><%= r.name %></p>
    <p><%= r.ingredients %></p>
    <p><%= r.cook_time %></p>
    <a href='/recipes/#{r.id}'>View this recipe</a>
    <br>
  <% end %>
</body>
