<h1>Recipes, recipes, recipes!</h1>
  <% @recipes.each do |recipe| %>
    <p>Name: <%= recipe.name %></p>
    <p>Ingrients: <%= recipe.ingredients %></p>
    <p>Cook Time: <%= recipe.cook_time %></p>
    <a href="/recipes/<%=recipe.id%>">Link</a>
  <% end %>
