<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>

  <body>
    <h1> Recipes </h1>
    <% @recipes.each.with_index(1) do |r, i| %>
    <%= "#{i}. Name: #{r.name} Link:"%> <a href="/recipes/<%=r.id%>"></a><br>
    <%end%>
  </body>
</html>
