<h4>Recipes:</h4>

<% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id %>">
  Name: <%= recipe.name %></a><br>
  Ingredients: <%= recipe.ingredients %><br>
  Cook Time: <%= recipe.cook_time %><br>
  <br>
<% end %>

<br>
<form method="get" action="/recipes/new">
  <input type="submit" value="new">
</form>
