<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  Recipe Name: <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
  Ingredients: <%= recipe.ingredients %>
  Cook time: <%= recipe.cook_time %>
<% end %>
