<!DOCTYPE HTML>
<html>
  <body>
    <h1><label for="recipes">Recipe App</label></h1>
    <ol>
      <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id%>"><%= recipe.name %></a></li>
      <% end %>
    </ol>
    
  <a href="/recipes/new">Create New Recipe</a>
  </body>
</html>