<h1>RECIPES!</h1>

<% @recipes.each do |recipe| %>
 <div>
   <a href="/recipes/<%= recipe.id %>"><h2><%= recipe.name %></h2></a>
   <p> <%= recipe.cook_time %> </p>
   <p> <%= recipe.ingredients %> </p>
 </div>
 <% end %>
 
 <form action="/recipes/new" method="post">
 <input type="submit" value="edit">
</form>