<html>
<% @recipes.each do |recipe| %>
<h1><a href = "/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a></h1>
<br>Ingredients: <%= recipe.ingredients %></br>
<br>Cook time: <%= recipe.cook_time %></br>
<% end %>
</html>
