<h1>Let's get cooking!</h1>

<% @recipes.each do |recipe| %>
<div>
<br>
<h2><a href="/recipes/<%=recipe.id%>"><%= recipe.name %></h2></a>
<h3><%= recipe.cook_time %></h3>
<h4><%= recipe.ingredients %></h4>
<br>
</div>
<% end %>
