<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <% @recipes.each do |recipe| %>
    <h2> <%= recipe.name %> </h2>
    <a href="/recipes/<%= recipe.id %>"></a>
    <% end  %>
  </body>
</html>
