<!DOCTYPE html>
<html>
  <head>
    <title>My Recipes</title>
  </head>

  <body>
    <h1>Welcome to My Recipes!</h1>

    <h2>Would you like to: </h2>
    <p> 1. Create a <a href="/new">New</a> recipe?</p>
    <p> 2. See a list <a href="/recipes">List</a> of recipes?</p>
  </body>
</html>
