<h1>Your Recipes</h1>

<div class = "Recipes">
  <%@recipes.all.each do |r|%>
  <h2><%=r.name%></h2>
  <h3>Ingredients: <%=r.ingredients%></h3>
  <h3>Cook Time: <%=r.cook_time%></h3><br>
  <%end%>
</div>

<h3>Click <a href = "recipes/new">here </a>to create a new recipe. </h3>
