<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>

    <h1>Welcome to the Recipe App!</h1>

    <p><a href="/recipes">Click here to display all recipes</a></p>

    <p><a href="/recipes/new">Click here to create a new recipe</a></p>

  </body>
</html>
