<% @recipes.each do |recipe|%>
  <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
  Ingredients: <%= recipe.ingredients %> <br>
  Cook time <%= recipe.cook_time %><br>
<% end %>
<br>
<br>
  <a href="/recipes/new">New</a>
