<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>
    <% @recipes.each do |recipe| %>
    <div class="recipe">
      <p><%= recipe.id %>. <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></p><br>
    </div>
    <% end %>
  </body>
</html>
