<h2>Here are all your recipes!</h2>
<h1>Recipes</h1>
<% @recipes.each do |r| %>
  <div class="recipe">
    <p>Name: <%= recipe.name %></p><br>
    <p>Ingredients: <%= recipe.ingredients %></p><br>
    <p>Cook Time: <%= recipe.cook_time %></p><br>
  </div><br>
<% end %>
