<% @recipes.each do |recipe|%>

  <p>Name: <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></p>
  <p>Ingredients: <%= recipe.ingredients %></p>
  <p>Cook Time: <%= recipe.cook_time %></p>
<% end %>
