<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>All Recipes</title>
  </head>
  <body>
    <h1>All Recipes</h1>

    <% @recipes.each do |recipe| %>
      <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    <% end %>
  </body>
</html>