
<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>

  <p>Recipe Name: <%= recipe.name %></p>
  <p>Recipe Ingredients: <%= recipe.ingredients %></p>
  <p>Recipe Cook Time: <%= recipe.cook_time %></p>
  <a href="/recipes/<%= recipe.id %>">Recipe Show Page</a>

<% end %>s
