<!DOCTYPE>
<html>
<head>
<title> <h1> Recipes <h1> </title>
</head>

<body>
  <form action = "/index" method ="POST">
  <% @recipes.each do|recipe|%>
  <h2> Recipe Name: </h2> <%=recipe.name%>
  <h3> Ingredients: </h3> <%=recipe.ingredients%>
  <h3> Cook Time: </h3> <%=recipe.cook_time%>
  <p><a href="/show">See the Recipe</a></p>

 <input type="submit" value="receipes">
</form>
</body>

</html>
