<h1>Index Page</h1>

<h3>List of Recipes</h3>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    </li>
  <% end %>
</ul>

<form action="/recipes/new" method="get">
  <input type="submit" value="New Recipe">
</form>