<h1>Here is a list of your recipes</h1>

<%@recipes.each do |recipe|%>
<a href="/recipes/<%=recipe.id%>"></a>
Name <%=recipe.name%>
Ingredients <%=recipe.ingredients%>
Cook Time <%=recipe.cook_time%>
<% end %>
