<!DOCTYPE html>
  <head>
    <stylesheet>
  </head>
  <body>
    <form action="/recipes" method="POST">
      <h3>Name: <input type="text" name="name" id="name"</h3>
      <h3>Ingredients: <input type="text" name="name" id="name"</h3>
      <h3>Cook Time: <input type="text" name="name" id="name"</h3>
    </form type="Submit" id="submit" action="Submit"=>
  </body>
</html>
