<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>

    <% Recipe.all.each do |r| %>
      <h1><a href="/recipes/<%= r.id %>"</a><%= r.name %></h1>
      <br>
      <!--<p><%= r.ingredients %></p>
      <br>
      <p><%= r.cook_time %></p>
      <br>-->
    <% end %>

  </body>
</html>
