<h1>Recipes</h2>

<% @recipes.each do |recipe| %>
 <div class="post">
   <p>Recipe Name: <%= recipe.name %></p><br>
   <p>Recipe Ingredients: <%= recipe.ingredients %></p><br>
   <p>Recipe Cook Time: <%= recipe.cook_time %></p><br>
 </div><br>
<% end %>
