<!DOCTYPE html>
<html>
<head>
  <h1>Upload Your Recipe Here!</h1>
</head>

<form method="GET" action="/recipes">
    <p> Recipe Name: <input type="text" name=name></p>
    <p> Recipe Ingredients: <input type="text" name=ingredients></p>
    <p> Recipe Cooking Time: <input type="text" name=cook_time></p>
    <input type="submit" name="submit" id="Submit" value="submit">
</form>

<body>
</body>
</html>
