<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Primary Recipes, Nigga!</h1>
    <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %> </h3>
    <% end %>
  </body>
</html>
