<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <h3><%= recipe.name %></h3>
  <h5><%= recipe.ingredients %></h5>
  <h5><%= recipe.cook_time %></h5>
  <a href="/recipes/<%=recipe.id%>"> link </a>
<% end %>
