
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <%@recipes.each do |recipe|%>
      <h3><%=recipe.name%></h3>
      <a href="/recipes/<%=recipe.id%>">Link to the recipe page</a>
    <%end%>
  </body>
</html>