
  <h2>  <% @recipes.each do |recipe|%> </h2>
   <a href="/recipes/<%= recipe.id %>">
  <div>
    <p>Name: <%= recipe.name %></p>
    <p>Ingredients: <%= recipe.ingredients %></p>
    <p>Cook time <%= recipe.cook_time %></p>
  </div>

  <% end %>
