<h1>Index Page</h1>

Welcome. <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

<!-- # GET	'/posts'	index action	index page to display all posts
# Recipe App Index page '/recipes' responds with a 200 status code
# Recipe App Index page '/recipes' displays a list of recipes
# Recipe App Index page '/recipes' contains links to each recipe's show page -->