
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Index</h1>
    <%Recipe.all.each do |list|%>
    <h3><%=list.name%></h3>
     <link rel="stylesheet" href="/recipes/1" type="text/css">
  </body>
</html>
<%end%>