<h2>All Recipes</h2>
<% @recipes.all.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">Name: <%= recipe.name %></a>
  Ingredients: <%= recipe.ingredients %>
  Cook Time: <%= recipe.cook_time %>
<% end %>
