<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<% @recipes.each do |recipe|%>
  <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
  Ingredients: <%= recipe.ingredients %>
  Cook time <%= recipe.cook_time %>
<% end %>

</body>
</html>