<h1> Recipes </h1>
<ul>
<% @recipes.each do |recipe| %>
<% #binding.pry %>
  <li>Name: <%=recipe.name%></li>
  <li>Ingredients: <%=recipe.ingredients%></li>
  <li>Cook Time: <%=recipe.cook_time%></li>
  <li><a href="/recipes/<%=recipe.id%>"></li>

<% end %>
