<ul>
<% @recipes.each do |recipe|%>
  <li>
  <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name%>
  Ingredients: <%= recipe.ingredients%>
  Cook Time: <%= recipe.cook_time%>
  </li>
<% end %>
  </ul>