<h1>Welcome</h1>

<% @recipes.each do |recipe| %>
    <h2>Name: <%= recipe.name %></h2>
    <h3>Ingredients: <%= recipe.ingredients %></h3>
    <h3>Cook Time: <%= recipe.cook_time %></h3>
    <a href="/recipes/<%=recipe.id%>">View</a>
<%end%>
