<body>
  <h1>Recipes</h1>
  <a href="/recipes/new">Create a new recipe</a>
  <% @recipes.each do |recipe| %>
    <p><%= recipe.id %></p>
    <p><%= recipe.name %></p>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cook_time %></p>
    <a href="/recipes/#{recipe.id}">View this recipe</a>
    <br>
  <% end %>
</body>
