<h1>the cook book</h1>

<% if @all.size > 0 %>

<% @all.each do |recipe| %>

<h2>
<%= recipe.name %>
</h2>

<h3>
<%= recipe.ingredients %>
</h3>

<h4>
<%= recipe.cook_time %>
</h4>

<% end %>

<% else %>

<h2>
There are no recipes to display.
</h2>

<% end %>
