<h1>Recipes</h1>
  <%= @recipes.each do |recipe| %>
  <h2>Recipe</h2>
      <p>Name: <%= recipe.name %></p><br>
      <p>Ingredients: <%= recipe.ingredients %></p><br>
      <p>Cook Time: <%= recipe.cook_time %></p><br>
  <% end %>
