<h1>Recipes</h1>

<% Recipe.all.each do |recipe| %>
<a href="/recipes/<%= recipe.id %>"><h2><%= recipe.name %></h2></a>
<h3>Ingredients</h3>
<%= recipe.ingredients %>
<h3>Cook time</h3>
<%= recipe.cook_time %>
<hr>
<% end %>
