<h1>My recipes</h1>

<% @recipes.each do |recipe| %>
<h3>  <a href="/recipes/<%= recipe.id %>"> Name: <%= recipe.name %> </a></h3>
<p>  Ingredients: <%= recipe.ingredients %> </p>
<p>  Cook Time: <%= recipe.cook_time %> </p>
<% end %>
