<!DOCTYPE HTML>
<html>
  <head>
    <title>Recipes Galore!</title>
  </head>

  <body>
    <h1>Welcome to Recipes Galore!</h1>
    <div class="menu">
      <!-- Future Edit / Entry -->
    </div>

    <div class="custom_content">
      <%= yield %>
    </div>
  </body>
</html>
