<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <a href="/">HOME</a> |
      <a href="/recipes/new">NEW</a>
    </p>
    <%= yield %>
  </body>
</html>
