<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes!</title>
  </head>
  <body>
    <h1><strong><a href="/recipes">MyRecipes.com</a></strong></h1><br>
    <%= yield %>
  </body>
</html>
