<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sinatra RESTful Routes lab</title>
    <style>
      .container { width: 85%; margin: 0 auto;}
      .main-menu { margin:0;padding:0;}
      .main-menu li { display: inline-block; padding: 10px 15px 0 0;}
    
    </style>
  </head>
  <body>
    <div class="container">
      <ul class="main-menu">
        <li><a href="/">All Recipes</a></li>
        <li><a href="/recipes/new">New Recipe</a></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>