 <form action="/recipes" method="post" id="form1">
      <p><label> Name: </label><input type="text" name="name"   id="name"></p>
      <p><label> ingredients: </label> <input type="text" name="ingredients" id="ingredients"></p>
      <p><label> Cook Time: </label> <input type="text" name="cook_time" id="cook_time"></p>

 </form>

<button type="submit" form="form1" value="submit">submit</button>