<h1>Create a recipe</h1>

<form action="/recipes" method="post">
  <label for "name">Recipe name: </label>
  <input type="text" id="name" name="name" >
  </br>
  <label for="ingredients">Ingredients: </label>
  <input type="text" id='ingredients' name="ingredients" >
  </br>
  <label for="cook_time">Cooking time: </label>
  <input type="text" id='cook_time' name="cook_time" >
  </br>


  <button type="submit" value="submit">Submit</button>
</form>
