<h1>Enter Recipe Below:</h1>
<form method='POST' action='/recipes'>
  Name: <input type="text" name="name"><br>
  Ingredients: <input type="text" name="ingredients"><br>
  Cook Time: <input type="text" name="cook_time"><br>
  <button type="submit" value="submit">Submit</button>
</form>