<!DOCTYPE html>
<html>
<head>
  <title>New Recipe</title>
</head>
<body>
  <h1>New Recipe</h1>
  <br>
  <form method="post" name="new_recipe" action="/recipes">
    <input type = "text" value ="Name" name="name">
    <input type = "text" value ="Ingredients" name="ingredients">
    <input type = "text" value ="Cook Time" name="cook_time">
    <button type = "submit">Submit</button>
  </form>
</body>
</html>