<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/articles">
      <input id="title" type="text" name="title">
      <input id="content" type="text" name="content">
      <input type="submit" value="submit">
    </form>
  </body>
</html>

    