<h2>Enter Your New Recipe Below:</h2>
<form action="/recipes" method="post">
  <h3>Recipe Name: <input type="text" name="name" value=""></h3>
  <h3>Ingredients: <input type="text" name="ingredients" value=""></h3>
  <h3>Cook Time: <input type="text" name="cook_time" value=""></h3>
  <input type="submit" name="submit" value="Submit">
</form>
