<h1>New Recipe</h1>
<form action="/recipes" method="post">
  <p>
    <label for="name">Enter name:</label><br>
    <input type="text" id="name" name="name" size="35" placeholder="name"/>
  </p>
  <p>
    <label for="ingredients">Enter ingredients:</label><br>
    <input type="text" id="ingredients" name="ingredients" size="35" placeholder="ingredients"/>
  </p>
  <p>
    <label for="cook_time">Enter cook time:</label><br>
    <input type="text" id="cook_time" name="cook_time" size="35" placeholder="cook time"/>
  </p>
  <input type="submit" value="submit"/>
</form>
