<h1>Add Your Recipe!</h1>
<form method="post" action="/recipes">
  <p>Your Recipe's Name: <input type="text" name="name" id="name"></p>
  <p>Required Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time" id="cook_time"></p>
  <input type="submit" name="submit" id="submit" value="Submit">
</form>
