<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Recipe</title>
</head>
<body>
  <form method="POST" action="/receipes">
    <label for="recipe_name">Receipe Name:</label>
      <input type="text" id="receipe_name" name="receipe_name">
    <label for="content">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients">
      <label for="cook_time"> Cook Time:</label>
      <input type="text" id="cook_time" name="cook_time">
      <input type="submit" value="submit">
  </form>

</body>
</html>