<html>
<head>
  <title>New Recipe</title>
</head>
<body>

  <h1>New Recipe</h1>
  <hr>

  <form method="POST" action="/recipes">
    <label for="name">Recipe Name:    </label>
    <input type="text" name="name" placeholder="Recipe name...">

    <label for="ingredients">Ingredients:    </label>
    <textarea name="ingredients" placeholder="Your ingredients..."></textarea>


    <label for="cook_time">Cooking Time:    </label>
    <input type="text" name="cook_time" placeholder="Cooking time...">

    <input type="submit" value="Create Recipe">
  </form>

</body>
</html>