<h1>Create a new recipe!</h1>
<form action="/recipes" method="post">
  Recipe name: <input type="text" name="name">
  Recipe ingredients: <input type="text" name="ingredients">
  Recipe cooking time: <input type="text" name="cook_time">
  <input type="submit" name="Submit">
</form>
