<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <h1>Add a New Recipe:</h1>
    <form action="/post" method="post">
      <h2>Recipe Name: <input type="text" name="name"></h2><br>
      <h4>Recipe Cook Time: <input type="text" name="cook_time"></h4><br>
      <h4>Ingredients: <input type="text" name="ingredients"></h4><br>
      <input type="submit" value="Submit Recipe">
    </form>
  </body>
</html>
