<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">
      Recipe Name: <input type="text" name="name" value="">
      Ingredients: <input type="text" name="ingredients" value="">
      Cook Time: <input type="number" name="cook_time" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
