<h1>Enter a new recipe</h1>
<form method="post" action="/recipes">
  <p><input type="text" name="name" value="Name">
    <input type="text" name="ingredients" value="Ingredients">
    <input type="text" name="cook_time" value="Cook Time">
    <input type="submit" name="submit" value="Enter Recipe">
    </p>
  </form>
