<!DOCTYPE HTML>
<html>
  <head>
    <title>New Recipe</title>
  </head>
  <body>
    <h1>
    <form method="post" action='/recipes'>
      <label for="recipe_name">Recipe Name:</label>
      <input type="text" id="recipe_name" name="name">
      <label for="recipe_ingredients">Ingredients:</label>
      <input type="text" id="recipe_ingredients" name="ingredients">
      <label for="recipe_cook_time">Cook Time:</label>
      <input type="text" id="recipe_cook_time" name="cook_time">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
