<form method="post" action="/recipes">
  <h3>Name: <input type="text" name="name"></h3>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
  <button type="submit">Save</button>
</form>
