<form action="/recipes" method="post">
  <p>Recipe Name: <input type="text" name="name" id="name"></p>
  <p>Recipe Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <p>Recipe Cook Time: <input type="text" name="cook_time" id="cook_time"></p>
  <input type="submit" id="submit">
</form>