<h1> Submit a new Recipe: </h1>
<form action='/recipes' method="POST">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
