<form action="/recipes" method="POST">
  <label>Name: </label>
    <input type="text" name="name">
  <label>Ingredients: </label>
    <input type="text" name="ingredients">
  <label>Cook Time: </label>
    <input type="text" name="cook_time">
    <input type="submit" id="submit" id="submit">
</form>
