<h1>My God, You Can Create a New Recipe!!</h1>

  <h4>Holy Jesus! All You Have to do is Fill Out The Form!</h4> 
  <form action="/recipes" method="POST">
    Name: <input type="text" name="name"><br>
    Ingredients: <input type="text" name="ingredients"><br>
    Cook Time: <input type="text" name="cook_time"><br>
    <input type="submit" value="Submit"><br>
  </form> 