<h3>Create a New Recipe!</h3>
<form method="POST" action="/recipes">
  <input type="text" placeholder="Recipe Name" name="name"></br>
  <input type="text" placeholder="Ingredients" name="ingredients"></br>
  <input type="text" placeholder="Cook Time" name="cook_time"></br>
  <input type="submit" value="Submit">
</form>