<form method="POST" action='/recipes'>
<p>Name:<input type="text"value="name"></p>
<p>Ingredients:<input type="text"value="ingredients"></p>
<p>Cook_Time:<input type="text"value="cook_time"></p>
<input type="submit"value="Submit">
</form>
