<form action="/recipes" method="POST">
  <label>Name:</label>
  <input type="text" id="recipe_name" name="name">
  <label>ingredients:</label>
  <input type="text" id="recipe_ingredients" name="ingredients">
  <label>Cook Time:</label>
  <input type="text" id="recipe_cook_time" name="cook_time">
  <input type="submit" value="submit">
</form>
