

<h1>Please Enter Your New Recipe!</h1>
  <form method= "POST" action='/recipes'>
    <lable for=name>Name:</lable>
    <input type="text" name="name">
    <lable for=ingredients>Ingredients:</lable>
    <input type="text" name="ingredients">
    <lable for=cook_time>Cook Time:</lable>
    <input type="text" name="cook_time">
    <input type="submit" value="Submit">
    </form>

  
