<!DOCTYPE html>
<html>
<head>
  <title>New Recipe</title>
</head>

  <body>
    <h3> Create a Recipe </h3>
    <form method="POST" action="/recipes/new">
      <label>Name: </label><input type="text" name="name">
      <label>Ingredients: </label><input type="text" name="ingredients">
      <label>Cooking Time: </label><input type="text" name="cook_time">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
