<form action="/recipes" method="POST">
	<input type="text" name="name" placeholder="recipe name:">
	<input type="ingredients" name="ingredients" placeholder="ingredients">
  <input type="cook_time" name="cook_time" placeholder="cook_time">
	<input type="submit" value="Add">
</form>
