<h1>Create New Recipe!</h1>

<div class="new_recipe">
  <form action="/recipes" method="post">
    <label for="name">Recipe Name: </label>
    <br>
    <input type="text" name="name">
    <br>
    <br>
    <label for="ingredients">Ingredients: </label>
    <br>
    <input type="text" name="ingredients">
    <br>
    <br>
    <label for="cook_time">Cook Time: </label>
    <br>
    <input type="text" name="cook_time">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
