<form method="POST" action="/recipes">
  <h4>Type in the name of your recipe here:
    <input type="text" name="name">
  </h4>
  <h4>Enter the ingredients:
    <input type="text" name="ingredients">
  </h4>
  <h4>How long does it take to cook?
    <input type="text" name="cook_time">
  <input type="submit" id="submit">
</form>
