<form action="/recipes" method="post">
  <label for="name">Recipe Name <input type="text" name="name" id="name"></label>
  <label for="ingredients">Ingredients <input type="text" name="ingredients" id="ingredients"></label>
  <label for="cook_time">Cook Time <input type="text" name="cook_time" id="cook_time"></label>
  <input type="submit" id="submit" value="submit">
</form>