<!DOCTYPE html>
<html>
<head>
<title>New Recipe</title>
</head>
<body>

<h1>Enter a New Recipe</h1>
<form action="/recipes" method="POST">
  <label>Name: <input type="text" name="name" id="name"></label>
  <label>Ingredients: <input type="text" name="ingredients" id="ingredients"></label>
  <label>Cook Time: <input type="text" name="cook_time" id="cook_time"></label>
  <input type="submit" value="submit">
</form>

</body>
</html>