<h2>Enter your new recipe here:</h2>
<form action="/recipes" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="ingredients">Name:</label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="cook_time">Name:</label>
  <input type="text" name="cook_time" id="cook_time">
  <input type="submit" name="submit" id="submit">
</form>