<form method="post" action="/recipes">
  <p> Recipe Name: <input type="text" name="name"></p>
  <p> Ingredients Needed: <input type="text" name="ingredients"></p>
  <p> Cooktime: <input type="text" name="cook_time"> minutes</p>
  <input type="submit" value="submit">
</form>
