<form action='/recipes' method="post">
  Recipe Name: <input type = "text" name="name" id="name"/><p>
  Ingredients: <input type = "text" name="ingredients" id="ingredients"/><p>
  Cook Time: <input type = "text" name="cook_time" id="cook_time"/><p>
  <input type = "submit" name="submit" id="submit"/><p>
</form>
