<h1>Recipes</h1>

<form method="POST" action="/recipes">
  Name: <input type="text" name="name">
  Ingredients: <textarea type="text" name="ingredients"></textarea>
  Cooking Time: <input type="text" name="cook_time">
  <input type="submit" value="Submit">
</form>