<h1>New Recipe</h1>

<h2>Write your recipe below</h2>

<form action="/recipes" method="post">
  <label for="name">Name:</label><input type="text" id="name" name="name"><br>
  <label for="ingredients">Ingredients:</label><textarea name="ingredients" id="ingredients" rows="8" cols="80"></textarea><br>
  <label for="cook_time">Cook Time:</label><input type="text" name="cook_time" id="cook_time"><br>
  <input type="submit" value="submit">
</form>
