<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form class="" action="/recipes/new" method="post">
      <label for="name">Recipe Name:</label><input type="text" name="name" value="">
      <label for="ingredients">Ingredients: </label><input type="text" name="ingredients" value="">
      <label for="cook_time">Cook Time: </label><input type="text" name="cook_time" value="">
      <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
