<!DOCTYPE=html>

<header>
  <title>New Recipe </title>
</header>
<body>
  <h1>Input Your New Recipe</h1>
<form action="/recipes" method="POST">
	<p><input type="text" name="name" id="name" placeholder="Name:"></p>
	<p><input type="text" name="ingredients" id= "ingredients" placeholder="Ingredients:"></p>
  <p><input type="text" name="cook_time" id="cook_time" placeholder="Cook Time:"></p>
  <input type="submit" value="Submit">
</form>
</body>
