<!DOCTYPE HTML>
<html>
<h1><header>A New Recipe!</header></h1>
<body>

  <form action="/recipes" method="POST">
  
  <h2>Enter The Name:<input type="text" name="name"</h2>

  <h2>Enter The Ingredients:<input type="text" name="ingredients"</h2>

  <h2>Enter The Cooking Time:<input type="text" name="cook_time"></h2>
  
  <button type="submit" value="add_recipe">Add Recipe</button>

  </form>

</body>
</html>