<h1> Create a new recipe here! </h1>


<form method="POST" action="/recipes">
 Recipe Name<br>
  <input type="text" name="recipe_name" placeholder="Insert Recipe Name"><br><br>
 Recipe Ingredients<br> <textarea rows="4" cols="50" name="recipe_ingredients" placeholder="Insert Recipe Ingredients"></textarea><br><br>
Recipe Cooktime <br> <input type="text" name="cook_time" placeholder="Put Recipe Cook Time"><br><br>
<input type="submit" value="Submit Recipe">
</form>