<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <input type="text" name="name" value="name"><br>
      <input type="text" name="ingredients" value="ingredients"><br>
      <input type="text" name="cook_time" value="cook_time"><br>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
