<form action="/recipes" method="post">
  Recipe Name: <input type="text" name="name">
  Recipe Ingredients: <input type="text" name="ingredients">
  Recipe Cook Time: <input type="text" name="cook_time">
  <input type="submit" value="submit" >
</form>
