<form method="POST" action='/recipes'>
  <h2>Recipe Name:<input type="text" name="name"></h2><br>
  <h2>Recipe Ingredients:<input type="text" name="ingredients"></h2><br>
  <h2>Recipe Cook Time:<input type="text" name="cook_time"></h2><br>
  <input type="submit" id="submit" value="submit" name="submit">
</form>
