
<form action="/recipes" method="post">
  <label for="name">Recipe Name: </label>
  <input type="text" name="name"><br>
  <label for="ingredients">Recipe Ingredients: </label>
  <input type="text" name="ingredients"><br>
  <label for="cook_time">Recipe Cook Time: </label>
  <input type="text" name="cook_time">
  <input type="submit" value="submit"><br>
</form>
