<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <p><label for="Name:">Name:</label><input type="text" name="name"></p>
      <p><label for="ingredients:">Ingredients:</label><input type="text" name="ingredients"></p>
      <p><label for="Cook Time:">Cook Time:</label><input type="text" name="cook_time"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
