<form action="/recipes" method="post">
  <label for="name">Recipe Name:</label>
  <p><input type="text" name="name" id="name"></input></p>

  <label for="ingredients">Ingredients:</label>
  <p><input type="text" name="ingredients" id="ingredients"></input></p>

  <label for="cook_time">Cook Time:</label>
  <p><input type="text" name="cook_time" id="cook_time"></input></p>

  <input type="submit" value="Submit">
  </form>
