<!DOCTYPE html>
<html>
    <head>
      <title>My Recipes Collection</title>
    </head>
    <body>
      <h1>Create New Recipe</h1>
      
      <form action='/recipes/new' method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name">
        <label for="ingredients">Recipe Ingredients:</label>
        <input type="textarea" id="ingredients" name="ingredients">
        <label for="cook_time">Recipe Cook Time:</label>
        <input type="text" id="cook_time" name="cook_time">
        <input type="submit" value="Submit">
      </form>
     
  </body>
</html>