<form class="" action="/recipes" method="post">
  <label for="name">name</label>
  <input type="text" name="name" value="">
  <label for="ingredients">ingredients</label>
  <input type="text" name="ingredients" value="">
  <label for="cook_time">cook time</label>
  <input type="text" name="cook_time" value="">

  <input type="submit" name="submit" value="submit">
</form>
