<h1>Recipes!</h1>
<br>
<form action='/recipes' method='POST'>
  Name:<input type="text" id="name" name="name">
  Ingredients:<input type="text" id="ingredients" name="ingredients">
  Cook Time: <input type="text" id="cook_time" name="cook_time">
  <input type="submit" id="submit" value="submit">

</form>
