<h1>Create a New Recipe</h1>

<form action="/recipes" method="POST">
<label for= "name"> Recipe Name: </label>
<input type="text"  name="recipe[name]" id="name">
<label for= "ingredients"> Ingredients: </label>
<input type="text"  name="recipe[ingredients]" id="ingredients">
<label for= "cook_time"> Cook Time: </label>
<input type="text"  name="recipe[cook_time]" id="cook_time">
<input type="submit" value="Submit">
</form>