<h1>Add a new recipe</h1>
<form action='/recipes' method="post">
  <input id="name" type="text" placeholder="name" name="name" />
  <input id="ingredients" type="text" placeholder="ingredients" name="ingredients" />
  <input id="cook_time" type="text" placeholder="cook_time (minutes)" name="cook_time" />
  <input id="submit" type="submit" value="submit" />
</form>
