<form method="post" action="/recipes">
    
    <label for="name">Recipe Name:</label><input type="text" name="name" id="name">
    <label for="ingredients">Recipe Ingredients: </label><input type="text" name="ingredients" id="ingredients">
    <label for="cook_time">Recipe Cook Time:</label><input type="text" name="cook_time" id="cook_time">
    <input type="submit" value="subimt">
</form>