<form action="/recipes" method="POST">
  <input type="text" name="name" placeholder="name:">
  <input type="ingredients" name="ingredients" placeholder="ingredients:">
  <input type="cooking_time" name="cooking_time" placeholder="cooking time:">

  <input type="submit" value="Submit">
</form>