<h1>Write A Recipe:</h1>
<form action="/recipes" method="post">
  <p><label for="name">Recipe Name:</label>
  <input type="text" name="name"></p><br>
  <p><label for="ingredients">Recipe Ingredients:</label>
  <input type="text" name="ingredients"></p><br>
  <p><label for="cook_time">Recipe Cook_time:</label>
  <input type="text" name="cook_time"></p><br>
  <button type="submit">submit</button>
</form>
