<form action="/recipes" method="POST">
  Name: <input type="text"  name="name" id="name">
  Ingredients: <input type="text"  name="ingredients" id="ingredients">
  Cook Time: <input type="text"  name="cook_time" id="cook_time">
  <input type="submit" id ="submit">
</form>