<html>

  <body>
    <h1> New Recipe</h1>

    <form action ='/recipes' method="post">
      <p><label for="name"> Recipe: </label><input id="name" type="text" name="name"><br>
      <p><label for="ingredients"> Ingredients: </label><input id="ingredients" type="text" name="ingredients"><br>
      <p><label for="cook_time"> Cook Time: </label><input id="cook_time" type="text" name="cook_time"><br>
      <p><input id="submit" type="submit" value="submit">
     </form>
   </body>

   </html>
