this is the new.erb

<h1>Enter the recipe below</h1>

<p>   <form method="POST" action="/recipes">
  <label for="name">Name</label>
  <input type="text" id="name" name="name"></p>

 <p>  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients"></p>

 <p>  <label for="cook_time">Cook Time</label>
  <input type="text" id="cook_time" name="cook_time"></p>

   <input type="submit" value="submit">
</form>