<form method="post" action="/recipes" >
<p> Name: <input type="text" value="name"> </p>
<p> Ingredients: <input type="text" value ="ingredients"> </p>
<p> Cook Time: <input type="text" value="cook_time"> </p>
<input type="submit" value="submit" id="submit">
</form>
