<form method='post' action='/recipes'>
  Recipe Name: <input id='name' type='text' name='name'>
  Ingredients: <input id='ingredients' type='text' name='ingredients'>
  Cook Time: <input id='cook_time' type='integer' name='cook_time'>
  <input type='submit' value='submit'>
</form>