<h1>Enter Your Recipe</h1>
<form method="post" action="/recipes">
  <label for="recipe_name">Recipe Name: </label>
  <input type="text" id="recipe_name" name="name">
  <br>
  <label for="recipe_ingredients">Ingredients: </label>
  <input type="text" id="recipe_ingredients" name="ingredients">
  <br>
  <label for="recipe_cook_time">Cook Time: </label>
  <input type="text" id="recipe_cook_time" name="cook_time">
  <br>
  <input type="submit" value="submit">
</form>
