<form action='/recipes' method="POST">
  <label>Name: <input type="text" name="name"></label>
  <label>Ingredients: <input type="text" name="ingredients"></label>
  <label>Cook time: <input type="text" name="cook_time"></label>
  <input type="submit" value"submit">
</form>
