

<form method="post" action="/recipes">
  <input type="text" name="name" id="name"><br>
  <input type="text" name="ingredients" id="ingredients"><br>
  <input type="text" name="cook_time" id="cook_time"><br>
  <input type="submit" value="Create">
</form>
