<form  action="/recipes" method="post">
  Name: <input type="text" name="name" value=""><br><br>
  Ingredients: <input type="text" name="ingredients" value=""><br><br>
  Cook time: <input type="text" name="cook_time" value=""><br><br>
  <input type="submit" name="" value="Submit">
</form>
