<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">

      Name<input type="text" name="name">
      Ingredients<input type="text" name="ingredients">
      Cook Time<input type="text" name="cook_time">

      <button type="submit" value="submit">submit</button>
    </form>
  </body>
</html>
