<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Add New Recipe</h3>
    <form action="/recipes" method="post">
      <p>Name: <input id="name" type="text" name="name"></p>
      <p>Ingredients: <input id="ingredients" type="text" name="ingredients"></p>
      <p>Cook Time (in minutes): <input id="cook_time" type="text" name="cook_time"></p>
      <input type="submit" name="submit" value="submit" id="submit">
    </form>
  </body>
</html>
