
    <body>

    <form action='/recipes' method="POST">

    <label>Recipe Name:
    <input type="text" name="name" id="name">
    </label>

    <label>Recipe Ingredients:
    <input type="text" name="ingredients" id="ingredients">
    </label>

    <label>Recipe Cook Time:
    <input type="text" name="cook_time" id="cook_time">
    </label>

    <input type="submit" value="Submit">

    </form>

