TO DO: CREATE FORM TO ENTER A NEW RECIPE

<form action="/recipes" method="POST">
  NAME: <input type="text" name="name"><br>
  INGREDIENTS: <input type="text" name="ingredients"><br>
  COOK TIME: <input type="text" name="cook_time"><br>
  <input type="submit" id="submit">

</form>
