<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Recipe</title>
</head>
<body>
  <h1>Create A New Recipe</h1>
    <form action="/recipes" method="POST">
      <p>Recipe Name: <input type="text" name="name"></p>
      <p>Recipe Ingredients: <input type="text" name="ingredients"></p>
      <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
      <input type="submit" value="Submit">
    </form>
  
</body>
</html>