<h2>Add A New Recipe</h2>
<form method="POST" action="/recipes">
  <h2>Name: <input type="text" name="name"></h2>
  <h2>Ingredients: <input type="text" name="ingredients"></h2>
  <h2>Cook Time (minutes): <input type="text" name="cook_time"></h2>
  <input type="submit" value="submit">
</form>
