<form method="POST" action="/recipes">
  <p>Name: <input type="text" name="name"></p>
  <p>ingredients: <input type="text" name="ingredients"></p>
  <p>cook time: <input type="text" name="cook_time"></p>
  <input type="submit" value="submit">
</form>
