<form action="/recipes" method="post">
	<input type="text" placeholder="name" name="name"><br>
	<input type="text" placeholder="ingredients" name="ingredients"><br>
	<input type="text" placeholder="cook_time" name="cook_time"><br>
	<input type="submit" value="Submit">
</form>
	


