<h1>Create a new recipe: </h1>

  <form method="post" action="/recipes">
    <p>Name: <input id="name" type="text" name="name" placeholder="Name"></p>
    <p>Ingredients: <input id="ingredients" type="text" name="ingredients" placeholder="Ingredients"></p>
    <p>Cook Time: <input id="cook_time" type="text" name="cook_time" placeholder="Cook Time"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
