
<form action="/recipes" method="post">
  Recipe Name: <input id="name" type="text" name="recipe[name]">
  Recipe Ingredients: <input id="ingredients" type="text" name="recipe[ingredients]">
  Recipe Cook Time: <input id="cook_time" type="text" name="recipe[cook_time]">
  <input id="submit" type="submit">
</form>