<h1>Recipe Input Form</h1>
<form method="POST" action="/recipes">
  <label for="name"><em>Name</em></label><br>  
  <input text="text" name="name"><br>
  <label for="ingredients"><em>Ingredients</em></label><br>
  <input text="text" name="ingredients"><br>
  <label for="cook_time"><em>Cook Time</em></label><br>
  <input text="text" name="cook_time"><br>
  <input type="submit" value="submit">
</form> 