<form class="new_recipes" action="/recipes" method="post">
  <input type="text" name="name">recipe name</input>
  <input type="text" name="ingredient">recipe ingredients (written all in one line)</input>
  <input type="text" name="cook_time">recipe cook time</input>
  <input type="submit" id="submit">
</form>
