<p style="font-size: 1.25em; font-style: italic;"><strong>Create your recipe below:</strong></p>

<form action="/recipes" method="post">

  <label for="name"><strong>Dish:</strong> </label>
  <input type="text" name="name">

  <br><br>

  <label for="ingredients"><strong>Ingredients:</strong> </label>
  <input type="text" name="ingredients">

  <br><br>

  <label for="cook_time"><strong>Cook Time:</strong> </label>
  <input type="text" name="cook_time">

  <br><br>

  <button type="submit">Create Recipe</button>
  <br><br>
  <a href="/recipes"> Back to recipes</a>
</form>
