<h1>Submit Your Recipe</h1>

<form method="POST" action="/recipes">
  
  <p><input type="text" name="name">Name:
  <input type="text" name="ingredients">Ingredients:
  <input type="number" name="cook_time">Cook Time: 
  <input type="submit">
  </p>
  
</form>
