Create Your Recipe!

<form method = "post" action = "/recipes">
  <h3>Name: <input id = "name" type = "text" name = "name"></h3>
  <h3>Ingredients: <input id = "ingredients" type = "text" name = "ingredients"></h3>
  <h3>Cook Time: <input id = "cook_time" type = "text" name = "cook_time"></h3>
  <input type = "submit" value = "Submit">
</form>
