<h1>Fill out the form for your recipe:</h1>

<form action="post" method="/recipes">
  <label>Recipe:</label>
    <input type="text" name="name">
  <label>Ingredients</label>
    <input type="text" name="ingredients">
  <label>Cook Time:</label>
    <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
