<!DOCTYPE html>
<html>
<head>
<title>New Recipe Form</title>
</head>
<body>
<h1>New Recipe Form</h1>
<h2>Enter Your New Recipe Info Here:</h2>
<form method="POST" action="/recipes">
    <p>Recipe Name: <input type="text" name="name"></p>
    <p>Recipe Ingredients: <input type="text" name="ingredients"></p>
    <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="Submit yo recipe">
</form>
</body>
</html>