<h1>Make a New Recipe!</h1>

<form method="post" action="/recipes">
  Name: <input type="text" id="name" name="name">
  Ingredients: <input type="text" id="ingredients" name="ingredients">
  Cook Time: <input type="text" id="cook_time"name="cook_time">
  <button type="submit" value="submit">Submit</button>
</form>