<body>
    <h1>Enter a New Recipe</h1>

<form action="/recipes" method="post">
    <p>Recipe Name: <input type="text" name="name" /></p>
    <p>Ingredients: <input type="text" name="ingredients" /></p>
    <p>Cook Time: <input type="text" name="cook_time" /></p>
    <button type="submit" value="submit">Submit</button>

</form>
