<h1>Enter Your Recipe</h1>

<form action="/recipes" method="post">
  <p><label>Recipe Name: <input type="text" name="name"></label></p>
  <p><label>Cook Time: <input type="text" name="cook_time"></label></p>
  <p><label>Ingredients: <textarea name="ingredients" cols="40" rows="5"></textarea></label></p>
  <p><button type="submit" value="submit">Submit</button>


</form>
