<!DOCTYPE html>

<html>
    <body>

    <form action='/recipes' method="POST">

    <label>Recipe Name:
    <input type="text" name="name">
    </label>
    <label>Recipe Ingredients:
    <input type="text" name="ingredients">
    </label>
    <label>Recipe Cook Time:
    <input type="text" name="cook_time">

    <input type="submit" value="Submit">

    </form>

    </body>
</html>