<form action="/recipes" method="post">
  <label for="name">Name</label>
  <textarea name="name"></textarea>

  <label for="ingredients">Ingredients</label>
  <textarea name="ingredients"></textarea>

  <label for="cook_time">Cook Time</label>
  <textarea name="cook_time"></textarea>

  <input type="submit" value="Submit">
</form>
