<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
  </head>

  <body>

<h1>Create a blogpost</h1>

<form action="/recipes" method="post">
  <!-- post -->
<p><label for="recipe[name]">Recipe Name: </label>
<input type="text" name="name" id="recipe[:name]"></p>

<p><label for="recipe[ingredients]">Recipe Ingredients: </label>
<input type="text" name="ingredients" id="recipe[:ingredients]"></p>

<p><label for="recipe[cook_time]">Recipe Cook Time: </label>
<input type="text" name="cook_time" id="recipe[:cook_time]"></p>


<p><input type="submit" id="submit">
</form>
</body>
</html>
