<h1>New recipe</h1>

<form action="/recipes" method="post">
  <label for="name">Recipe Name</label><br>
  <input type="text" name="name" id="name" ><br>
  <label for="ingredients">Ingredients</label><br>
  <input type="text" name="ingredients" id="ingredients"><br>
  <label for="cook_time">Cook Time</label><br>
  <input type="text" name="cook_time" id="cook_time" ><br>
  <input type="submit" value="submit"><br>
</form>
