<h3>Add a New Recipe</h3>
<action="/recipes" form method="POST">
  <p>Recipe Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
  <input type="submit" value="Add Recipe">
</form>
