<h1>Add a New Recipe!</h1>

<form action="/recipes" method="POST">
  <p>
    <label>Name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
  </p>
  <p>
    <label>Cook Time:</label>
    <input type="text" name="cook_time">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>  
</form>