<form action="/recipes" method="post">
  <h2>Recipe name: <input type="text" name="name"></h2>
  <h2>Ingredients: <input type="text" name="ingredients"></h2>
  <h2>Cook time: <input type="text" name="cook_time"></h2>
  <input type="submit" id="submit" value="Submit">
</form>
