<form method="post" action="/recipes">
  <label for="name">Name: </label>
  <input type="text" id="name" name="name"><br>
  
  <label for="name">Ingredients: </label>
  <input type="text" id="ingredients" name="ingredients"><br>
  
  <label for="name">Cook Time: </label>
  <input type="text" id="cook_time" name="cook_time"><br>
  
  <input type="submit" id="submit" value="submit">
  
</form>