<h1>New Recipe</h1>

<form action="/recipes" method= "POST">
  <label>Name: </label><input name="name" type="text"><br><br>
  <label>Ingredients: </label><textarea name="ingredients" type="text"></textarea><br><br>
  <label>Cook time: </label><input name="cook_time" type="number"><br><br>

  <input type="submit" value="submit" />
</form>
