<form method="POST" action="/recipes/new">
  <p>Recipe Name: <input type="text" name="name" id="name"></p>
  <p>Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <p>Cook Time: <input type="text" name="cooktime" id="cooktime"></p>
  <input type="submit" value="submit">
</form>
