<form action="/recipes" method="post">
    <label for="name">Recipe Name: </label>
    <input type="text" name="name">
    <br>
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients">
    <br>
    <label for="cook_time">Cook Time: </label>
    <input type="text" name="cook_time">
    <br>
    <input type="submit" value="Submit">
</form>
