<form method="POST" action="/recipes">
  <input type="text" name="name"><br />
  <textarea name="ingredients"></textarea><br />
  <input type="text" name="cook_time"/><br />
  <input type="submit" />
</form>
