<h1>NEW RECIPE</h1>
<br>
<br>
<form method="POST" action="/recipes">
<h3>New Recipe Name: </h3><input type="text" name="name">
<h3>New Recipe Ingredients: </h3><input type="text" name="ingredients">
<h3>New Recipe Cook Time: </h3><input type="text" name="cook_time">
<input type="submit" id="Submit" value="Create Recipe">
</form>