<form class="" action="/recipes" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Ingredients: <input type="text" name="ingredients" value=""></p>
  <p>Cook Time: <input type="number" name="cook_time" value=""></p>
<input type="submit" name="" value="Submit">
</form>
