<h1>Create a new recipe!</h1>

<form action="/recipes" method="POST">
  <p>Choose your recipe name: <input type="type" name="name"></p>
  <p>What ingredients are in your recipe? <input type="type" name="ingredients"></p>
  <p>How much time does it take to cook? <input type="type" name="cook_time"></p>
  <input type="submit" value="Submit">
</form>