<form  action="/recipes" method="post">
  
 <input  name="name" value="name">
 <input  name="ingredients" value="ingredients">
 <input name="cook_time" value="cook_time">
 <input type="submit" value="Sign Up">

</form>
