<h1>Create a New Recipe</h1>
<form method='POST' action='/recipes/new'>
  <p>Enter a name:<input type="text" name="name" id="name"></p>
  <p>Enter ingredients:<input type="text" name="ingredients" id="ingredients"></p>
  <p>Enter a cook time:<input type="text" name="cook_time" id="cook_time"></p>
  <input type="submit" value="Submit">
</form>