<form  action="/recipes" method="post">
Name <input type="text" name="recipe_name" required><br>
Ingredients <input type="text" name="recipe_ingredients" required><br>
Cook Time <input type="text" name="recipe_cook_time" required><br>
<input type="submit" value="submit">
</form>
