<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body>
    <h1>Enter a new recipe</h1>

    <form action="/recipes" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Ingredients: <input type="text" name="ingredients"></p>
      <p>Cook time: <input type="text" name="cook_time"></p>

      <input type="submit" value="submit">
    </form>

  </body>
</html>
