<form action="/recipes" method="POST">
  <input type="text" name="name" placeholder="Name:" id="name">
  <input type="ingredients" name="ingredients" placeholder="Ingredients:" id="ingredients">
  <input type="cook_time" name="cook_time" placeholder="Cook Time:" id="cook_time">
  <input type="submit" value="Save">
</form>