<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes/" method="post">
      <label for='name'>Name:</label>
      <input id='reciperecipe_cook_time_name' type="text" name='name'><br>
      <label for='ingredients'>Ingredients:</label>
      <input id='recipe_ingredients' type="text" name='ingredients'><br>
      <label for='cook_time'>Cook Time:</label>
      <input id='recipe_cook_time' type="text" name='cook_time'><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
