<h1> New Recipe
<form action="/recipes" method="post">
	<label>Recipe Name: </label><input type="text" name="name">
	<label>Ingredients: </label><input type="text" name="ingredients">
	<label>Cooking Time: </label><input type="text" name="cook_time">

	<input type="submit" value="Submit">
</form>

