<!DOCTYPE html>
<header>
  <title>Add a Recipe</title>
</header>

<body>
  <form method="POST" action="/recipes">
    <p>Name: <input type="text" name="name" id="name"> </p>
    <p>Ingredients: <input type="text" name="ingredients" id="ingredients"> </p>
    <p>Cook Time: <input type="text" name="cook time" id="cook time"> </p>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
