<html>
  <head>
    <meta charset="UTF-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form action="/recipes/new" method="post">
      Name: <input type="string" name="name" id="name">
      Ingredients: <input type="string" name="ingredients" id="ingredients">
      Cook Time: <input type="number" name="cook_time" id="cook_time">
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
