<h1>Create a New Recipe!</h1>
<br>
<form method="post" action="/recipes">
  <label>Name: <input type="text" name="name"></label><br>
  <label>Ingredients: <input type="text" name="ingredients"></label><br>
  <label>Cook Time: <input type="text" name="cook_time"></label><br><br>
  <input type="submit" value="Submit">
</form>
