<form action = '/recipes' method = 'POST'>
  name: <input type = 'text' name = 'name'><br>
  ingredients: <input type = 'text' name = 'ingredients'><br>
  cook time: <input type = 'text' name = 'cook_time'><br>
  <br>
  <input type='submit' value = 'Submit'>
</form>
