<form method="post" action="/recipes">
  Recipe Name: <input type="text" name="name"><br>
  Ingredients: <input type="text" name="ingredients"><br>
  Cook Time: <input type="text" name="cook_time"><br>
  <input type="submit" name="submit" value="submit" id="submit">
</form>
