<h1>Add a New Recipe Here</h1>

<form method="POST" action="/recipes">
  <input type="text" name="name" placeholder="Name"><br>
  <br>
  <input type="text" name="ingredients" placeholder="Ingredients"><br>
  <br>
  <input type="text" name="cook_time" placeholder="Cook Time"><br>
  <br>
  <input type="submit" value="Submit">
</form>
