<form action = "/recipes" method="POST">

<label for "name">Recipe Name:</label>
<input id="name" type="text" name="name">
<br>
<label for "ingredients">Recipe Ingredients:</label>
<input id="ingredients" type="text" name="ingredients">
<br>
<label for "cook_time">Recipe Cook Time:</label>
<input id="cook_time" type="text" name="cook_time">
<br>
<input type="submit" value="Submit">

</form>