<form method="POST" action="/recipes">
  <h1>Add your Recipe here..</h1>
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="integer" name="cook_time"></p>

  <input type="submit">
</form>
