<h1>Add a new recipe</h1>
<form action="/recipes" method="post">
      <label for="name">New recipe name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients"><br>
      <label for="name">Cook time:</label>
      <input type="text" id="cook_time" name="cook_time"><br>
      <input type="submit" name="submit" value="Add!">
</form>