<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <label for="name">Recipe Name:</label>
      <input id="name" type="text" name="name" value="">
      <label for="ingredients">List of ingredients:</label>
      <input id="ingredients" type="text" name="ingredients" value="">
      <label for="cook_time">Time to Cook:</label>
      <input id="cook_time" type="text" name="cook_time" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
