<form method="post" action="/recipes" >
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="integer" name="cook_time">
  <button type="submit" value="submit">Submit</button>
</form>
