<h1>Enter your recipe below:</h1>
<form action="post" method="/recipes">
  <label>Recipe Name:</label><input type="text" name="name">
  <label>Ingredients:</label><input type="text" name="ingredients">
  <label>Cook Time:</label><input type="text" name="cook_time">
  <input type="submit" name="submit">
</form>