<h2>Enter your recipe:</h2>
<form action="/recipes" method="post">
  <h4><label>Recipe Name: </label><input type="text" name="name"></h4>
  <h4><label>Ingredients: </label><textarea rows="4" cols="20" name="ingredients"></textarea></h4>
  <h4><label>Cook Time: </label><input type="text" name="cook_time"></h4>

  <input type="submit" value="submit">
</form>
