<h1>Add a new recipe</h1>

<form method="post" action="/recipes/new" >
<p>Name: <input type="text" name="name" ></p>
<p>Ingredients: <input type="textarea" name="ingredients" ></p>
<p>Cook Time: <input type="text" name="cook_time" ></p>
<input type="submit" value="submit">

</form>
