<form action = '/recipes' method = "POST">
   <input type="text" id = "name" name="name">
   <input type="text" id = "ingredients" name="ingredients">
   <input type="text" id = "cook_time" name="cook_time">
  <input id = "submit" type = "submit">
</form>

