<form method="post" action="/recipes">
  <p>Recipe Name:</p>
  <input type="text" name="name">
  <p>Recipe Ingredients:</p>
  <input type="text" name="ingredients">
  <p>Recipe Cook Time:</p>
  <input type="text" name="cook_time">
  <input type="submit" value="Create Recipe">
</form>