<h1>ENTER A NEW RECIPE:<h1>
<form action="/recipes" method="post">
  <h2>NAME: <input type="text" name="name"></h2>
  <h2>INGREDIENTS: <input type="text" name="ingredients"></h2>
  <h2>COOK TIME:<input type="text" name="cook_time"></h2>
  <h2><input type="submit" value="submit"></h2>
</form>
