<h3>Create New Recipe</h3>
<form action="/recipes" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="password" name="ingredients" placeholder="Ingredients">
	<input type="submit" value="Submit">
</form>
