<h1>Create new recipe</h1>
<form action="/recipes" method="post">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  Cooking time: <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>