<h1> Enter a Recipe Below </h1>

<form method="POST" action="/recipes">
    <label for="name">Recipe Name: </label>
    <input id="recipe_name" type="text" name="name"><br/>

    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients"><br/>

    <label for="cook_time">cook time: </label>
    <input type="text" name="cook_time"><br/>

    <input type="submit" id="submit" value="add recipe">
</form>