<h2>Create a new recipe</h2>

<form action="/recipes/" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients">
    <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time">

    <input type="submit" id="submit">
</form>