<!DOCTYPE html>
<html>
<head>
  <title>Make A New Recipe</title>
</head>
<body>

  <form method="POST" action="/recipes/new">
    <h2>Recipe Name:<input type="text" name="name"></h2>
    <p>Ingredients:<input type="text" name="ingredients"></p>
    <p>Cook Time:<input type="text" name="cook_time"></p>

    <input type="submit" id="button" title="submit">
    </form>

</body>
</html>