<h1>Make a new recipe:</h1>

<form action="/recipes" method="post">
  <h3>Name: </h3><input id="name" type="text" name="name"><br>
  <h4>Ingredients: <input id="ingredients" type="text" name="ingredients"></h4><br>
  <h4>Cook Time: <input id="cook_time" type="text" name="cook_time"></h4><br>

  <button type="submit" value="submit">Save Recipe</button>
</form>
