<form action="/recipes" method="post">
	Recipe name: <input type="text" name="name" id="name"><br><br>
	ingredients: <input type="text" name="ingredients" id="ingredients"><br><br>
	cooking time: <input type="text" name="cook_time" id="cook_time"><br><br>
	<input type="submit" value="submit">
</form>