<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>My Recipes</h1>
    <form method="post" action="/recipes">
      <p>Create a New Recipe</p>
      <input id="recipe[name]" type="text" name="name">
      <input id="recipe[ingredients]" type="text" name="content">
      <input id="recipe[cook_time]" type="text" name="cook_time">
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
