<form action="/recipes" method="POST">
  Name: <input id="name" type="text" name="name">
  <br>
  Ingredients: <input id="ingredients" type="text" name="ingredients">
  <br>
  Cook Time: <input id="cook_time" type="text" name="cook_time">
  <br>
  <input type="submit" value="Submit">
</form>