<form method="post" action="/recipes">
  <h1>Name of Recipe: <input type="text" name="name"></h1>
  <h2>Ingredients: <input type="text" name="ingredients"></h2>
  <h2>Cook Time (start to finish): <input type="text" name="cook_time"></h2>
  <input type="submit" value="submit">
</form>
