<h1>Create your Recipe here!</h1>

<form action="/recipes" method="post">

  <p>Recipe name: <input type="text" name="name" /></p>
  <p>Recipe ingredients: <input type="text" name="ingredients" /></p>
  <p>Recipe cook time: <input type="text" name="cook_time" /></p>
  <input id="submit" type="submit" />

</form>
