<form method='POST' action='/recipes'>
    Name: <input type='text' name='name' id='name'>
    Ingredients: <input type='text' name='ingr' id='ingr'>
    Cook Time: <input type='text' name='time' id='time'>
    <input type='submit' name='Submit' id='submit'>
</form>
