<!-- NEW Recipe form -->
<form action='/recipes' method='POST'>
  <label for="name">Enter Recipe Name: </label>
  <input type="text" placeholder="Recipe Name" name="name">
  <br>
  <label for="ingredients">Enter Ingredients: </label><br>
  <textarea type="text" name="ingredients" placeholder="Ingrdt 1, Ingrdt 2, Ingrdt 3, ..."></textarea>
  <br>
  <label for="cook_time">Enter Cook Time: </label><br>
  <input type="text" placeholder="Cook Time" name="cook_time">
  <br>
  <button type="submit">Submit</button>
</form>
