<h3><em>New Recipe</em></h3>
<form action="/recipes" method="post">
  <input type="text" name="recipe[name]" placeholder="Name"><br>
  <input type="text" name="recipe[ingredients]" placeholder="Ingredients"><br>
  <input type="text" name="recipe[cook_time]" placeholder="Cook Time"><br><br>
  <input type="submit" value="Submit">
</form>
