<form method="POST" action="/recipes/new">
  <p>Recipe Name: <input type="text" name="name" id="name"></p>
  <p>Ingredients: <input type="text"name="ingredients" id="ingredients"></p>

  <input type="submit" placeholder="submit" >
</form>
