<form method="POST" action="/recipes">
  <label> Name </label> <br>
  <input type="text" id="name"><br>
  <label> Ingredients </label> <br>
  <input type="text" id="ingredients"><br>
  <label> Cook Time </label><br>
  <input type="integer" id="cook_time"><br>
  <input type="submit" value="submit">
</form>
