<form action='/recipes' method=POST>
  <input type='text' name='name' placeholder='Name:'><br>
  <input type='text'name='ingredients' placeholder='Ingredients:'><br>
  <input type='text' name='cook_time' placeholder='Cook Time:'><br>
  <input type='submit' value="Submit">
</form>
