<h1>Create A New Recipe </h1>
<form method="POST" action="/recipes">
  <p>Recipe Name: <input type="text" name="name"></p>
  <p>Recipe Ingredients: <input type="text" name="ingredients"></p>
  <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
  <button type="submit" value="submit">Submit</button>
</form>
