<!DOCTYPE html>
<html>
<head>
  <title>Creating New Recipe</title>
</head>
<body>
  <form action='/recipes' method='POST'>
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cook Time: <input type="integer" name="cook_time"></p>
    <p><input type="submit" name="submit"></p>
  </form>
</body>
</html>