<form action="/recipes" method="post">
Name: <input type="text" name="name" id="name"/>
<br>
Ingredients: <input type="text" name="ingredients" id="ingredients" />
<br>
Cook Time: <input type="text" name="cook_time" id="cook_time"/>
<input type="submit" />
</form>