<form action='/recipe' method="post">
  <input label = "Name: " type = "text" name="name" id="name"/>
  <input label = "Ingredients: " type = "text" name="ingredients" id="ingredients"/>
  <input label = "Cook Time: " type = "text" name="cook_time" id="cook_time"/>
</form>
