<form action="/recipes" method="post">
  <h1> Recipes </h1>
  Name: <br>
  <input type="text" name="name" value="Name"><br>
  Ingredients: <br>
  <input type="text" name="ingredients" value="Ingredients"><br>
  Cooking Time: <br>
  <input type="text" name="cooking_time" value="Cooking Time"><br>
  <input type="submit" value="Submit">

</form>
