<form action="/recipes" method="POST">
  <h4><label for="name">Recipe Name:</label> <input id="name" type="text" name="name" /></h4>
  <h4><label for="ingredients">List Ingredients:</label> <input id="ingredients" type="text" name="ingredients" /></h4>
  <h4><label for="cook_time">Enter Cook Time (include units):</label> <input id="cook_time" type="text" name="cook_time" /></h4>
  <button id="submit" type="submit">Save Recipe</button>
</form>
