<h1>Add recipe to collection:</h1>

<form method="POST" action="/recipes">
  <label for="name">Recipe Name: </label>
  <input type="text" name="name" id="name"><br>
  <br>
  <label for="cook_time">Cook Time: </label>
  <input type="text" name="cook_time" id="cook_time"><br>
  <br>
  <label for="ingredients">Ingredients: </label>
  <input type="text" name="ingredients" id="ingredients"><br>
  <br>
  <input type="submit" value="Save Recipe">
</form>

<!-- <form method="post" action="/recipes">
  Name<input type="text" name="name">
  Ingredients<input type="text" name="ingredients">
  Cook Time<input type="text" name="cook_time">
  <input type="submit" value="submit">
</form> -->