<h1>Create a New Recipie:</h1>
<form action="/recipes" method="POST">
  <input type="text" name="name" placeholder="Recipe Name">
  <input type="text" name="ingredients" placeholder="Ingredients">
  <input type="text" name="cook_time" placeholder="Cook Time">
  <input type="submit" value="Create">
</form>
