<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      <p>Recipe Name:</p><input type="text" name="name" value="">
      <p>Ingredients:</p><input type="text" name="ingredients" value="">
      <p>Cook Time:</p><input type="text" name="cook_time" value="">
      <input type="submit" name="" value="submit" id="submit">
    </form>
  </body>
</html>
