<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a recipe</title>
</head>
<body>
	<form method="post" action="/recipes">
	  <label for="name">Name: </label>
	  <input type="text" id="name" name="name">
	  <br>

	  <label for="ingredients">Ingredients: </label>
	  <input type="text" id="ingredients" name="ingredients">
	  <br>
	  
	  <label for="cook_time">Cooking time: </label>
	  <input type="text" id="cook_time" name="cook_time">
	  <br>
	  
	  <input type="submit" id="submit" value="Create">
	</form>
</body>
</html>