<h3>New Recipe</h3>
<form method="POST" action="/recipes">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="ingredients" placeholder="ingredients">
	<input type="text" name="cook_time" placeholder="cook time">

	<button type="submit">Delete</button>
</form>