<h1>Create a new recipe</h1>

<form method="POST" action="/recipes">
  <input type="text" placeholder="Name:" name="name">
  <input type="text" placeholder="Ingredients:" name="ingredients">
  <input type="text" placeholder="Cook Time:" name="cook_time">
  <input type="submit" value="Submit">
</form>
