<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GMA</title>
  </head>
  <body>
    <h1>Input GeeMa's recipe here</h1>
    <form action="/recipes" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Ingredients: <input type="text" name="ingredients"></p>
      <p>Cook Time: <input type="text" name="cook_time"></p>
      <button value="submit" type="submit">Submit</button>
    </form>
  </body>
</html>