<h2>Enter your New Recipe</h2>
<form method="post" action="/recipes">
  <input type="text" placeholder="Name" name="name">
  <br></br>
  <input type="text" placeholder="Ingredients" name="ingredients">
  <br></br>
  <input type="text" placeholder="Cooktime" name="cook_time">
  <br></br>
  <input type="submit" value="submit">
</form>
