<h1>Add Recipe</h1>
<form method="POST" action="/recipes">
  <label for="recipe_name">Name: </label>
  <input type="text" id="recipe_name" name="name"><br>
  <label for="recipe_ingredients">Ingredients: </label>
  <input type="text" id="recipe_ingredients" name="ingredients"><br>
  <label for="recipe_cook_time">Cook Time: </label>
  <input type="text" id="recipe_cook_time" name="cook_time"><br>
  <br>
  <input type="submit" id="submit">
</form>