<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <h1>Create New Recipe</h1>
    <form action="/posts" method="post">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name">
      <br/>
      <br/>

      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients">
      <br/>
      <br/>

      <label for="cook_time">Cook Time:</label>
      <input type="text" name="cook_time">
      <br/>
      <br/>

      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
