<h1>New Recipe</h1>

<h4>Let's create something new!</h4>

<form action="/recipes" method="post">
  
  <p>
    <label for="name">Recipe Name:</label>
    <input type="text" id="name" name="name" required />
  </p>
  <p>
    <label for="ingredients">Recipe Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" required />
  </p>
  <p>
    <label for="cook_time">Recipe Cook Time:</label>
    <input type="text" id="cook_time" name="cook_time" required />
  </p>
  
  <input type="submit" value="submit" />
  
</form>