<h3>Create a New Recipe</h3>
<form method='post' action='/recipes'>
  <p>Recipe Name: <input type='text' name='name'></p>
  <p>ingredients: <textarea type='text' name='ingredients' placeholder="type ingredients here"></textarea></p>
  <p>Cook Time: <input type='text' name='cook_time'></p>
  <input type='submit' value='Create Recipe'>
</form>
