<h1>Add a New Recipe</h1>
<form method="POST" action="/recipes">
  <input="text" id="name" name="recipe[name]" placeholder="Recipe Name">
  <input="text" id="ingredients" name="recipe[ingredients]" placeholder="Ingredients">
  <input="text" id="cook_time" name="recipe[cook_time]" placeholder="Cook Time">
  <input="submit" id="submit" value="Submit">
</form>