<h1>Create Your New Recipe</h1>

<form class="form-horizontal row" method="post" action="/recipes">

  <div class="form-group row">
    <label for="name">Name:</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Name">
  </div>

  <div class="form-group row">
    <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" class="form-control" id="ingredients" placeholder="Ingredients">
  </div>

  <div class="form-group row">
    <label for="cook_time">Cook Time:</label>
      <input type="text" name="cook_time" class="form-control" id="cook_time" placeholder="Cook Time">
  </div>

  <input class="btn btn-block btn-default" type="submit" value="submit">
</form>
