<form method="post" action="/recipes">

  <label>Name: </label>
     <input type="text" id="name" name="name"></input>
  <label>Ingredients:</label>
    <input type="text" id="ingredients" name="ingredients"></input>
  <label>Cook Time:</label>
    <input type="text" id="cook_time"name="cook_time"></input>
  <input type="submit" value="submit">
</form>
