<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"
  <title></title>
</head>
<body>
  <h1>Enter Your New Recipe</h1>
  <form action='/recipes' method='POST'>
    <p>Name:<input type="text" name="name"/></p>
    <p>Ingredients:<input type="text" name="ingredients"/></p>
    <p>Cook Time:<input type="text" name="cook_time"/></p>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>
