<form id="new_recipe" action="/recipes" method="post">
  <textarea name="name"></textarea>
  <textarea name="ingredients"></textarea>
  <textarea name="cook_time"></textarea>
  <button id="submit">Submit</button>
</form>
