
<h1>Create a New Recipe</h1>

<form method="post" action="/recipes">
  <label> Name:</label>
  <input type="text" id="name" name="name" placeholder="Name"><br></br>

  <label> Ingredients:</label>
  <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients"><br></br>

  <label> Cook Time:</label>
  <input type="text" id="cook_time" name="cook_time" placeholder="Cook Time"><br></br>

  <input type="submit" id="value">
</form>
