<form action="/recipes" method="post">
  
  <h3> Add Recipe</h3>
  Name<input type='text' name='name' >
  Ingredients<input type='text' name='ingredients' >
  Cook Time<input type='text' name='cook_time' >
  <input type="submit" value="Submit">
</form>