<!DOCTYPE html>
<html>
  <head> Create New Recipe</head>
  <body>
    <h1></h1>
    <form action="/recipes" method="post">
      <p>
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" id="name" />
      </p>
      <p>
        <label for="ingredients">Recipe Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients">
      </p>
      <p>
        <label for="cook_time">Recipe Cook Time:</label>
        <input type="text" name="cook_time" id="cook_time">
      </p>
      <input type="submit" />
    </form>
  </body>
</html>
