<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <label for="name">
        Name: <input type="text" id="name" name="name">
      </label><br>
      <label for="ingredients">
        Ingredients: <input type="text" id="ingredients" name="ingredients">
      </label><br>
      <label for="cook_time">
        Cook Time: <input type="text" id="cook_time" name="cook_time">
      </label><br>
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
