<h2>Add a new recipe here!</h2>
<form method="POST" action="/recipes">
  <p>Name: <input type="text" name="name"></p><br>
  <p>Ingredients: <input type="text" name="ingredients"></p><br>
  <p>Cook Time: <input type="text" name="cook_time"></p><br>
  <input type="submit" value="submit">
</form>
