<form action="/recipes" method="POST">
  Name <input type="text" name="name">
  Ingredients <input type="text" name="ingredients">
  Cooktime <input type="text" name="cooktime"> (min) <br>
  <button type="submit"> Submit </button>
</form>