<h1>Submit a new recipe</h1>

<form method="post" action="/recipes">
  <h2>Recipe Name: </h2><input type="text" name="name">
  <h2>Ingredients: </h2><input type="text" name="ingredients">
    <h2>Cook Time: </h2><input type="text" name="cook_time">
  <input type="submit" id="submit" name="submit" value="submit">
</form>
