<h1>Put Your Recipe Here</h1>

<form action="/recipes" method="post">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  Cook Time: <input type="text" name="cook_time">
  <button type="submit">Submit</button>
</form>
