<form action="/recipes" method="POST">
  <ul>
    <li>
      <label for="name">Name</label>
      <input id="name" type="text" name="name">
    </li>
    <li>
      <label for="ingredients">Ingredients</label>
      <input id="ingredients" type="text" name="ingredients">
    </li>
    <li>
      <label for="cook_time">Cook Time</label>
      <input id="cook_time" type="text" name="cook_time">
    </li>
  </ul>
  <input type="submit">
</form>