<form action="/recipes" method="post">
  Name
  <input type="text" name="name" id="name">
  Ingredients
  <input type="text" name="ingredients" id="ingredients">
  Cooking Time
  <input type="text" name="cook_time" id="time">
  <input type="submit" value="Submit">
</form>
