<form action="/recipes" method="POST">

  <h1>Recipes</h1><br>

  <h2>Recipe Information</h2><br>

  <label>Name:</label><br>
  <input type="text" name="name"><br>
  <label>Ingredients:</label><br>
  <input type="text" name="ingredients"><br>
  <label>Cook Time:</label><br>
  <input type="text" name="cook_time"><br>

  <input type="submit" value="submit"><br>
</form>
