<h1>Enter New Recipes</h1>
<form method='POST' action='/recipes'>
  <label for='name'>Name:</label></br>
  <input type='text' id='name' name='name'></br>
  <label for='ingredients'>Ingredients:</label></br>
  <input type='text' id='ingredients' name='ingredients'></br>
  <label for='cook_time'>Cook Time:</label></br>
  <input type='text' id='cook_time' name='cook_time'></br>
  <input type='submit' id='Submit' value="Submit">
</form>