<form action="/recipes" method="POST">
  <p>Name of Recipe: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Total Cooking Time: <input type="text" name="cook_time"></p>
  <input type="submit" value="Submit">
</form>
