<h1>New Recipe</h1>
<form method="post" action="/recipes">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="ingredients" placeholder="Ingredients"><br>
  <input type="integer" name="cook_time" placeholder="Cook Time"><br>
  <input type="submit" id="submit" value="Submit">
</form>
