<form method="post" action="/recipes">
  <label for="recipe_name">Recipe Name:<input type="text" id="recipe_name" name="recipe_name"></label></br>
  <label for="recipe_ingredients">Recipe Ingredients:<input type="text" id="recipe_ingredients" name="recipe_ingredients"></label></br>
  <label for="recipe_cook_time"><br>
  <label for="recipe_cook_time">Recipe Cook Time:<input type="text" id="recipe_cook_time" name="recipe_cook_time"></label></br>
  <!-- <input type="submit" name="submit" value="submit">Submit</input> -->
  <button type="submit" value="submit">Submit</button>
</form>
