<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Recipe</title>
</head>
<body>
  <h1>New Recipe</h1>
  <form action="/recipes" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="cook_time">Cook Time:</label>
    <input type="text" id="cook_time" name="cook_time"><br><br>
    <label for="ingredients">Ingredients:</label><br>
    <textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>