<form action="/recipes" method="post">
  <h1>Add New Recipe:</h1>
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients">
  </p>
  <p>
    <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time" id="cook_time">
  </p>

  <input type="submit" name="submit" id="submit">

</form>
