<form method="POST" action="/recipes">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name">
  <label for="ingredients">Ingredients" </label>
  <input id="ingredients" type="text" name="ingredients">
  <label for="cook_time">Cook Time: </label>
  <input id="cook_time" type="text" name="cook_time">
  <input id="submit" type="submit">Submit</input>
</form>
