<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Recipe</title>
 </head>
 <body>

  <h1>Enter new recipe:</h1>

  <form action="/recipes" method="post">
    Name: <br><input type="text" name="name" size="75" ></input><br><br>
    Ingredients: <br><textarea type="text" name="ingredients" rows="25" cols="75"></textarea><br>
    Cook Time: <br><input type="text" name="cook_time" size="75" ></input><br><br>
    <input type="submit" value="submit">
  </form>
  </body>
</html>
