<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipes</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <label for="name">Name: <input type="text" name="name"></label>
      <label for="ingredients">Ingredients: <input type="text" name="ingredients"></label>
      <label for="cook_time">Cook Time: <input type="text" name="cook_time"></label>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
