<form method="POST" action='/recipes'>
  Name: <input type="text" name="name">
  Ingredients: <textarea name="ingredients"></textarea>
  Cook Time: <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>