<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <label for="name">Recipe Name: </label><br>
  <input type="text" name="name" ><br><br>
  <label for="cook_time">Cook Time: </label><br>
  <input type="text" name="cook_time" ><br><br>
  <label for="ingredients">Ingredients: </label><br>
  <textarea name="ingredients" rows="4" cols="80"></textarea><br><br>
  <input type="submit" name="submit" value="submit">
</form>
