<!DOCTYPE html>
<form action="/recipes" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="ingredients" placeholder="ingredients">
  <input type="text" name="cook_time" placeholder="cook time">
  <input type="submit" name="submit">
</form>
