<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <p>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text">
  </p>
  <p>
    <label for="ingredients">Ingredients: </label>
    <input id="ingredients" name="ingredients" type="text">
  </p>
  <p>
    <label for="cook_time">Cook Time: </label>
    <input id="cook_time" name="cook_time" type="text">
  </p>
  <input type="submit" value="Submit This Recipe">
</form>
