<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new recipe</title>
  </head>
  <body>
    <form action="/recipes/new" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Ingredients: <input type="text" name="ingredients"></p>
      <p>Cooking Time: <input type="integer" name="cook_time"></p>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
