<form method="POST" action="/recipes">
name <input type="text" name="name"  />
ingredients <input type="text" name="ingredients" />
cook time<input type="text" name="cook_time" />
<input type="submit" name="submit" value="submit" />

</form>
