<form method="post" action="/recipe/new">
<input type="text" name="recipe_name" placeholder="Name">
<input type="text" name="ingredients_names" placeholder="ingredients">
<input type="text" name="cook_time" placeholder="cook_time">
<input type="submit" id="submit" value="submit">
</form>