<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes/new" method="post">
      Enter name: <input type="text" name="name"><br>
      Enter ingredients:<br>
      <textarea name="ingredients" rows="8" cols="50"></textarea><br>
      Enter cook time: <input type="text" name="cook_time"><br>
      <input type="submit" id="submit">

    </form>

  </body>
</html>
