<h1> Welcome!</h1>
<h2> So you want to create a new recipe huh? </h2>

<form action='/recipes' method="post">
<label for="name">Recipe Name:<input type="text" id="name" name="name">
<label for="ingredients">Recipe Ingredients:<input type="text" id="ingredients" name="ingredients">
<label for="cook_time">Recipe Cook Time:<input type="text" id="cook_time" name="cook_time">
<input type="submit" value="submit"
</form>