<h1>Make a new recipe!</h1>
<form method="post" action="/recipes">
  <input type="text" name="name" placeholder="Name!">
  <input type="text" name="ingredients" placeholder="Ingredients!">
  <input type="text" name="cook_time" placeholder="Cook Time!">
  <input id="submit" type="submit" value="Submit">
</form>
