<form action="/recipes" method="POST">
  <input type="text" id="name" name="name">
  <input type="text" id="ingredients" name="ingredients">
  <input type="text" id="ingredients" name="cook_time">
</form>
