<h1>Add a Recipe</h1>

<form action="/recipes" method="POST">
  <input type="text" name="name" id="name">
  <input type="text" name="ingredients" id="ingredients">
  <input type="time" name="cook_time" id="recipe_cook_time">
  <input type="submit" id="submit">
</form>
