<h1>New Recipe</h1>
<form action="/recipes" method="post">
  <h4>Name: <input type="text" name="name"></h4>
  <h4>Ingredients: <input type="text" name="ingredients"></h4>
  <h4>Cook Time: <input type="integer" name="cook_time"></h4>
  <input type="submit" value="Submit">
</form>