<form action="/recipes" method="post">
  <h3>Recipe Name:</h3><br>
  <input type="text" name="name">
  <h4>Ingredients:</h4><br>
  <input type="text" name="ingredients">
  <h4>Cook Time:</h4><br>
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>