<h1>Create Your Own Recipe</h1>

<form action="/recipes" method="post">
  <p>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="recipe name">
  </p>
  <p>
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" id="ingredients" placeholder="recipe ingredients">
  </p>
  <p>
  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time" id="cook_time" placeholder="recipe cook time">
  </p>
  <input type="submit" id="submit">
</form>
