<h1>New Recipe</h1>

<form action="/recipes" method="POST">
  
  <label>Name:</label><br>
  <input type="text" name="name" id="name"><br><br>
  
  <label>Ingredients</label><br>
  <input type="text" name="ingredients" id="ingredients"><br><br>
  
  <label>Cook Time:</label><br>
  <input type="text" name="cook_time" id="cook_time"><br><br>
  
  <input type="submit" value="Submit" id="submit">
</form>