<h1>Welcome! Please add a new recipe below:</h1>
<form action="/recipes" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
  <input type="submit" name="submit">
</form>
 <h3>Don't want to add another recipe? Click <a href="/recipes">here</a> to go to the index of all the recipes.</h3>