<form action="/recipes" method="post">
  <p>Name:</p><input type="text" name="name">
  <p>Ingredients:</p><input type="text" name="ingredients">
  <p>Cooktime:</p><input type="text" name="cook_time">
  <p><input type="submit" name="" value="Submit"></p>
</form>
