<h1>Please enter the following information to create a new Recipe:</h1>
<form action="/new" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
  <p><input type="submit"></p>
</form>
