<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <h1>New Recipe</h1>
    <h3>To enter a new recipe, fill out the form below:</h3>

    <form action="/recipes" method="post">
      <p>Recipe Name: <input type="text" name="name"></p>
      <p>Recipe Ingredients: <input type="text" name="ingredients"></p>
      <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
      <button type="submit" name="submit">Create!</button>
    </form>
  </body>
</html>
