<h1>New Recipe</h1>
<form method="post" action="/recipes">
  <label for="name">Name of recipe: </label>
  <input type="text" name="name" id="name">
  <label for="ingredients">List ingredients: </label>
  <input type="text" name="ingredients" id="ingredients">
  <label for="cook_time">Cook time: </label>
  <input type="text" name="cook_time" id="cook_time">
  <input type="submit" value="Create" id="submit">
</form>
  