<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

    <h1>Make your magic here:</h1>

    <form method="POST" action="/recipes">
    
        <p>Name: <input type-"text" name="name"></p>
        <p>Ingredients: <input type-"text" name="ingredients"></p>
        <p>Cook Time: <input type-"integer" name="cook_time"></p>

        <input type="submit" value="submit">

    </form>
    
</body>
</html>