<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>enter your recipe here!</h1>
    <form class="" action="/recipes" method="post">
      <p><input type="text" name="name" placeholder="name"></p>
      <p><input type="text" name="ingredients" placeholder="ingredients"></p>
      <p><input type="text" name="cook_time" placeholder="cook time"></p>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
