<h3>Create your new recipe below:<h3>
  <form method="post" action="/recipes">
    <input type="text" name="name" plaeholder="Recipe Name">
    <input type="text" name="ingredients" plaeholder="Inredients List">
    <input type="text" name="cook_time" plaeholder="Cook Time">
    <input type="submit" value="Submit">
  </form>
