<form action="/recipes/post" method="post">
Recipe Name:<input type="input" name="name"></br>
Ingredients:<input type="input" name="ingredients"></br>
Cook Time: <input type="input" name="cook_time"></br>
<input type="submit" value="sumbit"></br>
</form>
