<h1>Create New Recipe</h1>
<form method="POST" action="/recipes">
  <label>Name:<input type="text" name="name"></label>
  <label>Ingredients:<input type="text" name="ingredients"></label>
  <label>Cook Time:<input type="text" name="cook_time"></label>
  <input type="submit">
</form>
