<form method="post" action="/recipes">
  <h3>Recipe Name: <input type="text" name="name"></h3>
  <h3>Recipe Ingredients: <input type="text" name="ingredients"></h3>
  <h3>Recipe Cook Time: <input type="text" name="cook_time"></h3>
  <input type="submit" value="submit">
</form>