<!DOCTYPE HTML>
<html>
<head>
<title></title>
</head>
<body>
  <form method="post" action="/recipes">
    <label for="name">Recipe Name: </label>
    <input type="text" id="name" name="name"><br>
    <label for ="ingredients">Ingredient: </label>
    <input text="text" id="name" name="ingredients"><br>
    <label for="cook_time">Cook Time: </label>
    <input type="text" id="name" name="cook_time"><br>
    <input type="submit" id="submit" value="submit">
  </form>
</body>
</html>
