<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
 
  <body>

<form action='/recipes' method="post">
	<p>Name: <input type="string" name="name" /></p>
 <p>Ingredients: <input type="string" name="ingredients" ></p>
 <p>Cook Time: <input type="integer" name="cook_time" ></p>
  <input type="submit" value="submit">
</form>

  </body>
</html>