<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Page</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <input type="text" name="name" value="Name">
      <input type="text" name="ingredients" value="Ingredients">
      <input type="text" value="cook_time" value="Cook Time">
      <input type="submit" id="submit" />
    </form>
  </body>
</html>
