<h1>New Recipe</h1>

<form action="/recipes" method="post">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="ingredients" placeholder="Ingredients"></p>
  <p><input type="text" name="cook_time" placeholder="Cook Time"></p>

  <input type="submit" name="Submit">
</form>
