<h1>New Recipe</h1>
<form action="/recipes" method="POST">
	Name: <input type="text" name="name">
  <br>
	Ingredients: <input type="text" name="ingredients">
  <br>
  Cook Time: <input type="text" name="cook_time">
	<button type="submit" name="submit">Add Recipe</button>
</form>
