<h1>Create a new recipe!</h1>

<form action="/recipes" method="POST">
  <p>
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients">
  </p>
  <p>
    <label for="cooktime">Cooktime:</label>
    <input type="text" name="cook_time" id="cooktime">
  </p>
  <input type="submit" value="Submit">
</form>
