<form action="/recipes" method="POST">
	<input id="hidden" type="hidden" name="_method" value="delete">
	Name: <input type="text" name="name">
	<br>
	Ingredients: <input type="text" name="ingredients">
	<br>
	Cook Time: <input type="text" name="cook_time">
	<br>
	<input type="submit">
</form>