<h3> Please enter recipe to be added</h3>
<form method = "post" action = "/recipes">
Name:<input type = "text" name = "name">
<br>
Ingredients : <input type = "text" name = "ingredients">
<br>
Cook Time: <input type = "text" name = "cook_time">
<input type = "submit" value = "Submit">
</form>
