<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Recipe</title>
  </head>
  <body>
	  <form action='/recipes' method="POST">
		  <h3>Please Enter the Name of the Recipe: <input type="text"
			  name="name"><h3>
		  <h3>List the ingredients: <input type="textarea" name="ingredients" textarea rows="4" cols="50"><h3>
		  <h3>How Much Time is Needed for Cooking? <input type="text" name="cook_time"></h3>
		  <input type="submit" value="submit">
	  </form>
  </body>
</html>
