<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Enter recipe details below!</h1>
  
	<form method="POST" action="/recipes">
		<h2>Recipe Name: <input type="text" name=name></h2>
		<p> Ingredients: <input type="text" name="ingredients"></p>
		<p>Cook Time: <input type="text" name="cook_time"></p>
		<input type="submit" value="Submit">
	</form>

</body>
</html>
