<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <h1>Your new recipe</h1>
    <form action="/recipes" method="POST">
      <label>Name</label>
      <input type="text" name="name"><br>
      <label>Ingredients</label>
      <input type="text" name="ingredients"><br>
      <label>Cooking Time</label>
      <input type="text" name="cook_time"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
