<form method="POST" action="/recipes">
  <input name="name" type="text" id="name">
  <input name="ingredients" type="text" id="ingredients">
  <input name="cook_time" type="text" id="cook_time">
  <input type="submit" value="submit"/>
</form>