<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>ENTER IN YOUR NEW RECIPE</h3>
    <form action="/recipes" method="post">
      <label for="name">NAME: </label>
      <input type="text" name="name">
      <label for="ingredients">INGREDIENTS: </label>
      <input type="text" name="ingredients">
      <label for="name">COOK TIME: </label>
      <input type="integer" name="cook_time">
      <input type="submit" name="submit" value="submit">

    </form>

  </body>
</html>
