<h3>Create a New Recipe</h3>
<form action="/recipes" method="POST">
	name: <input type="text" name="name">
	ingredients: <input type="text" name="ingredients">
	cook_time: <input type="text" name="cook_time">
	<input type="submit" value="Create Recipe">
</form>