<!DOCTYPEhtml>
<html>
  <head>
    <title>Grammy's Recipes</title>
  </head>

  <body>
    <form method="POST" action="/recipes">
      <h1><label for="name">Name: </label><input type="text" name="name" id="name"></h1>
      <p><label for="ingredients">Ingredients: </label><input type="text" name="ingredients" id="ingredients"></p>
      <p><Label for="cook_time">Cook Time: </label><input type="text" name="cook_time" id="cook_time"></p>
        <input type="submit" value="Submit">
    </form>
  </body>
<html>
