<form action='/recipes' method="POST">
  <br></br>
  <label>Name:</label>
  <input type="text" name="recipe[name]" id="recipe_name">
  <br></br>
  <label>Author:</label>
  <input type="text" name="recipe[ingredients]" id="recipe_ingredients">
  <br></br>
  <label>Summary:</label>
  <input type="text" name="recipe[cook_time]" id="recipe_cook_time">
  <br></br>
  <input type="submit" value="Create">
</form>