<h2>Create a New Recipe!</h2>
<form action="/recipes" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
</form>
