<form method="POST" action="/recipes">
  <label for="name">Recipe Name</label>
  <input type="text" name="name">
  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients">
  <label for="cooking_time">Cooking Time</label>
  <input type="text" name="cook_time">
  <input type="submit" value="Submit">
</form>
