<h1>Create a Recipe</h1>
<form method="post" action="/recipes">
  <p><label for="name">Name:</label>
    <input type="text" name="name" id="name"></p>
  <p><label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients"></p>
  <p><label for="cook_time">Cooking Time:</label>
    <input type="text" name="cook_time" id="cook_time"></p>
  <button type="submit" value="submit">Submit</button>
</form>
