<form method="POST" action="/recipes">

<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">

<label for="ingredients">Ingredients</label>
<input type="text" name="ingredients" id="ingredients" placeholder="ingredients">

<label for="cook_time">Cook Time</label>
<input type="text" name="cook_time" id="cook_time" placeholder="cook_time">

<input type="submit" value="submit">
</form>