<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <input type="text" name="name" value="Name" id="name">
      <input type="text" name="ingredients" value="Ingredients" id="ingredients">
      <input type="text" name="cook_time" value="Cook Time" id="cook_time">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
