<h1>NEW</h1>
<form action="/recipes" method="post">
  NAME: <input type="text" name="name"><br>
  INGRDIENTS: <input type="text" name="ingredients"><br>
  COOK TIME: <input type="text" name="cook_time"><br>
  <input type="submit" value="submit">
</form>
