<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Create A New Recipe:</h1>
    <form action="/recipes" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      <br>
      <label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients">
      <br>
      <label for="cook_time">Cook Time:</label>
      <input type="text" id="cook_time" name="cook_time">
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
