<form action="/recipes/new" method="post">
Name:
<br />
<input type="text" name="name">
<br />
Ingredients:
<br />
<input type="text" name="ingredients">
<br />
Cook Time:
<br />
<input type="text" name="cook_time">
<br />
<input type="submit" name="submit">
</form>
