<form method="post" action="/recipes/:id">
  <h2>Recipe Name:<input type="text" name="name"></h2>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook for: <input type="integer" name="cook_time"> minutes</p>
  <input type="submit" value="Submit">
</form>