<h1>New Recipe</h1>
<form class="" action="/recipes" method="post">
 <p>Name: <input type="text" name="name" value=""></p>
 <p>Ingredients: <input type="text" name="ingredients" value=""></p>
 <p>Cook Time: <input type="text" name="cook_time" value=""></p>
 <p><input type="submit" name="" value="submit"></p>
</form>
