<h2>Create a Recipe</h2>

<form method="post" action="/recipes">
  <label>Name: <input type="text" name="name"></label><br>
  <label>Ingredients: <input type="text" name="ingredients"></label><br>
  <label>Cook Time: <input type="text" name="cook_time"></label><br>
  <input type="submit" value="submit">
</form>