<form method="/recipe/save" action="post">
Recipe Name:<input type="input" name="name">
Ingredients:<input type="input" name="ingredients">
Cook Time: <input type="input" name="cook_time">
<input type="submit" value="sumbit">
</form>
