<form action="/recipes" method="post">

    <label for="recipe_name">Recipe Name:</label>
    <input type="text" id="recipe_name" name="recipe_name">

    <label for="recipe_ingredients">Recipe Ingredients:</label>
    <input type="text" id="recipe_ingredients" name="recipe_ingredients">

    <label for="recipe_cook_time">Cooking Time:</label>
    <input type="text" id="recipe_cook_time" name="recipe_cook_time">

    <input type="submit" value="submit">

</form>
