<h1>Submit Recipe</h1>
<form method="post" action="/recipes">
  Name : <input type="text" name="name"><br><br>
  Ingredients : <input type="text" name=ingredients""><br><br>
  Cook Time : <input type="text" name="cook_time"><br><br>
  <input type="submit" name="submit">
</form>