<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      Name: <input type="text" name="name" value=""><br>
      ingredients: <input type="text" name="ingredients" value=""><br>
      Cooking time: <input type="text" name="cook_time" value="">
      <input type="submit"  value="Submit">

    </form>
  </body>
</html>
