<form method="post" action="/recipes">
  <label for="recipe_name">Recipe Name:</label>
  <input id="recipe_name" type="text" name="name"><br>
  <label for="recipe_ingredients">Ingredients: </label>
  <input id="recipe_ingredients" type="text" name="ingredients"><br>
  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time">
  <input type="submit" name="submit">
</form>
