<form action="/recipes" method="POST">

  <h3>
    Recipe Name: <input type="text" name="name"><br>
  </h3>

  <p>
    Ingredients: <br> <textarea name="ingredients" rows="20" cols="50"></textarea><br>
  </p>

  <p>
    Cook Time: <input type="text" name="cook_time"><br>
  </p>
  <input type="submit" id="Submit" value="submit">

</form>
