<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <h1>Recipe name: <input type="text" name="name"></h3>
      <h2>Recipe ingredients: <input type="text" name="ingredients"></h2>
      <h2>Recipe cook time: <input type="integer" name="cook_time"></h2>
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
