<h1>Create a Recipe</h1>

<p>

  <form action="/recipes" method="post">
    <input  type="text" id="name" value="name">
    <input  type="text" id="ingredients" value="ingredients">
    <input  type="text" id="cook_time" value="cook_time">
  </form>

</p>
