<h1>New Recipe</h1>

<form action="/recipes" method="POST" accept-charset="utf-8">
  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Ingredients: <input type="text" name="ingredients" id="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time" id="cook_time"></p>

  <input type="submit" value="Submit" id="submit">
</form>
