<form action="/recipes" method="post">
  <h1>Name of Recipe: <input type="text" name="name"></h1>
  <h6>Cook Time: <input type="text" name="cook_time"></h6>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <input type="submit" value="submit">
</form>
