<h1>Enter your recipe below</h1>
<form action="/recipes/new" method="post">
  Recipe Name: <input type="text" name="name" id="name"><br>
  Ingredients: <input type="text" name="ingredients" id="ingredients"><br>
  Cooking Time: <input type="text" name="cook_time" id="cook_time"><br>
  <input type="submit" >
</form>
