<form action="/recipes" method="post">
  Name<input name="name" type="text"><br>
  Ingredients<input name="ingredients" type="text"><br>
  Cook Time<input name="cook_time" type="text"><br>

  <input type="submit" value="submit">

</form>