<h1>Create recipe</h1>
<form action='/recipes' method='POST'>
Recipe Name:<input type="text" name="name">
Recipe Ingredients:<input type="string" name="ingredients">
Recipe Cooktime:<input type="integer" name=cook_time>
<input type="submit" value="submit">
</form>