<!DOCTYPE html>
<html>
	<head>
		<title>Create a new recipe</title>
	</head>
	<body>
    <h1>Create New Recipe</h1>
    <form method="POST" action="/recipes">
      <label>Name : </label> <input id="recipe_name" type="text" name="recipe_name"/>
      <label>Ingredients : </label><input id="recipe_ingredients" type="text" name="recipe_ingredients"/>
      <label>Cooking Time : </label><input id="recipe_cook_time" type="text" name="recipe_cook_time"/>
			<input type="submit" name="submit" value="submit"/>
		</form>

	</body>
</html>
