<form method='post' action='/recipes'>
<label for=name>Name:</label><input type='text' name='name'>
<label for=ingredients>ingredients:</label><input type='text' name='ingredients'>
<label for=cook_time>Cook time:</label><input type='text' name="cook_time">
<input type='submit' value='submit'>
</form>