<html>
<head>
  <title></title>
</head>
<body>
  <form method="post" action="/recipes">
    <p>Name:</p><input type="text" name="name" id="recipe_name">
    <p>Ingredients:</p><input type="text" name="ingredients">
    <p>Cook Time:</p><input type="text" name="cook_time">
  </form>

</body>
</html>