
<form action="/recipes" method="post">
  Recipe Name: <input id="name" type="text" name="name">
  Recipe Ingredients: <input id="ingredients" type="text" name="ingredients">
  Recipe Cook Time: <input id="cook_time" type="text" name="cook_time">
  <input id="submit" type="submit">
</form>