<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Create A Recipe</title>
 </head>

 <body>
   <h1>Create A Recipe</h1>

  <form method="POST" action="/food">
   <p>Recipe Name: <input type="text" name="name"></p>
   <p>Recipe Ingredients: <input type="text" name="ingredients"></p>
   <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
   <input type="submit">
  </form>

 </body>
</html>
