<form class="" action="/recipes" method="post">
  <h1>Create a Recipe</h1>

  <input type="text" name="name" id="name">
  <input type="text" name="ingredients" id="ingredients">
  <input type="text" name="cook_time" id="cook_time">

  <input type="submit" id="submit">
</form>
