<form method="POST" action="/recipes">
<input Name: type="text" name="name">
<input Ingredients: type="text" name="ingredients">
<input Cook_Time: type="text" name="cook_time">
<input type="submit" value="submit">
</form>
