

 <h2>create a new recipe</h2>
 <form action="/recipes/new" method="POST">

 	<label for="name">Recipe Name: </label>
 	<input type="text" name="name" value="name">

 	<label for="ingredients">Recipe ingredients: </label>
 	<input type="text" name="ingredients" value="ingredients">

 	<label for="cook_time">Recipe cook time: </label>
 	<input type="text" name="cook_time" value="cook_time">

 	<input type="submit" name="Submit">
 </form>