<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>

<body>
  <form method="post" action="/recipes">

    <tag>Name: <input type="text" name="name"></tag>
    <tag>Ingredients: <input type="text" name="ingredients"></tag>
    <tag>Cook Time: <input type="text" name="cook_time"> </tag>
    <input type="submit" value="submit">
  </form>
</body>

</html>
