<h1> Add Your Own Recipe! </h1>

<form method='post' action='/recipes/new'>
  Name:<input type="text" name="name" placeholder="Hotdog Waffles"><br/>
  Ingredients:<input type="text" name="ingredients"><br/>
  Cook Time:<input type="text" name="cook_time"><br/>
  <input type="submit" value="Submit">
</form>
