<form action='/recipes' method='POST'>
  <p>Name: <input type='text' name='name'></p>
  <p>Ingredients: <input type='text' name='ingredients'></p>
  <p>Cook Time: <input type='text' name='cook_time'></p>
  <button name='submit' value='submit'>Submit</button>
</form>