<form action="/recipes" method="post">
  Name<input name="name" type="text" />
  Ingredients<input name="ingredients" type="text" />
  Cook Time<input name="cook_time" type="text" />

  <input type="submit" value="submit">

</form>
