<h1>Use this form to make a new recipe!</h1>

<form action="/recipes" method="post">
  <input type="text" name="name" value="Recipe Name:">
  <input type="text" name="ingredients" value="Ingredients List:">
  <input type="text" name="cook_time" value="Cook Time:">
  <input type="submit" name="submit" id="submit">
</form>
