<h1>New Recipe</h1>
<form method="post" action="/recipes">
  <input type="text" name="name" value="Name"><br>
  <input type="text" name="ingredients" value="Ingredients"><br>
  <input type="text" name="cook_time" value="Cook Time"><br>
  <input type="submit" value="submit">
</form>
