<h3>New Recipe</h3>
<form action="/recipes" method="POST">
  Name: <input type="text" name="name"><br><br>
  Ingredients: <input type="text" name="ingredients"><br><br>
  Cook Time: <input type="text" name="cook_time"><br><br>
  <input type="submit" value="Submit">
</form>
