<h1>Add a new recipe</h1>
<form method="post" action="/recipes">
  Recipe name:<br>
  <input type="text" name="name"><br>
  Ingredients:<br>
  <input type="text" name="ingredients"><br>
  Cooking time:<br>
  <input type="cook_time" name="ingredients"><br>
  <button type="submit">submit</button>
</form>
