<h1>Your New Recipe</h1>
<form method="post" action="/recipes">
	<input type="text" name="name" value="name">
	<input type="text" name="ingredients" value="ingredients">
	<input type="text" name="cook_time" value="cook_time">
	<input type="submit" name="submit" value="Submit">
</form>