<h2>Welcome to Recipe Index App!</h2>
<p>Please fill out name, ingredients and cook time below.</p>

<form action="/recipes" method="POST">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" /><br><br>
    <label for="ingredients">Ingredients: </label>
    <input id="ingredients" type="text" name="ingredients" /><br><br>
    <label for=cook_time">Cook Time: </label>
    <input id="cook_time" type="text" name="cook_time" /><br><br>

    <input type="submit" />

</form>