<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
     <form method = "POST" action = "/recipes">
       <label for = "name">Name:</label>
       <input type = "text" name = "name" id = "name">
       <label for = "ingredients">Ingredients</label>
       <input type = "text" name = "ingredients" id = "ingredients">
       <label for = "cook_time">Cook time:</label>
       <input type ="text" name = "cook_time" id = "cook_time">
       <input type = "submit" id = "submit">
     </form>
  </body>
</html>
