<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Box</title>
</head>
<body>
  <h1>Recipe Box</h1>
  <form action="/recipes" method="POST">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cook time: <input type="text" name="cook_time"></p>
    <input type="Submit" value="Submit">
  </form>
</body>
</html>