<h1>Create a new recipe!</h1>

<form method='post' action='/recipes'>
  <p>Name: </p><input name="name" type="text"><br>
  <p>Ingredients: </p><input name="ingredients" type="text"><br>
  <p>Cook Time: </p><input name="cook_time" type="text"><br>
  <input type="submit" id="Submit">
</form>
