<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <form action="/recipes" method="post">
      <input type="text" name="recipe_name" placeholder="recipe name">
      <input type="text" name="recipe_ingredients" placeholder="recipe ingredients">
      <input type="text" name="recipe_cook_time" placeholder="recipe cook time">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
