<h1>Welcome</h1>

<p>CREATE NEW RECIPE.</p>

<form action="/recipes" method="POST">
  <input type="text" name="name" placeholder="What is the name of the dish:">
  <input type="text" name="ingredients" placeholder="What are the ingredients:">
  <input type="text" name="cook_time" placeholder="What is the cook time:">
  <input type="submit" value="Submit">
</form>
