<form method="post" action="/recipes">
  <p>recipe name: <input type="text" name="name"></p>
  <p>recipe ingredients: <input type="text" name="ingredients"></p>
  <p>recipe cook time: <input type="text" name="cook_time"></p>
  <input type="submit" value="submit recipe">
</form>
