<form method="post" action="/recipes">
  <label for="name">Name:</label>
  <p><input type="text" name="recipe_name"></p>
  <label for="ingredients">Ingredients:</label>
  <p><input type="text" name="recipe_ingredients"></p>
  <label for="cook_time">Cook Time:</label>
  <p><input type="text" name="recipe_cook_time"></p>
  <input type="submit" value="submit">
</form>