<!DOCTYPE html>
<html>
<head>
  <title>Create New Recipe</title>
</head>
  <body>
    <form action="/recipes" method="POST">
    <h2>Enter new recipe info here: </h2>     
      <p>Name:  <input type="text" name="name">
      <p>Ingredients: <input type="text" name="ingredients">
      <p>Cook_Time: <input type="text" name="cook_time"><p>
      <input type="submit" id="submit" content="submit"></p>
    </form>
  </body>
</html>