<form action="/recipes" method="post">
  <div>
    <label for="name">Recipe name:</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="ingredients">Recipe ingredients:</label>
    <input type="text" name="ingredients" id="ingredients">
  </div>
  <div>
    <label for="cook_time">Recipe cook time:</label>
    <input type="text" name="cook_time" id="cook_time">
  </div>
  <input name="submit" type="submit" id="submit">
</form>
