<h1>What's cookin, good lookin?</h1>
<form method='POST' action='/recipes'>
  <input type="text" id="name" name="name" placeholder="Recipe Name:"/>
  <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients:"/>
  <input type="text" id="cook_time" name="cook_time" placeholder="Cook Time:"/>
  <input type="submit" name="submit" value="Submit"/>
</form>
