<h2>New Recipe</h2>
<form action="/recipes" method="post">
  <p>Name: <input type="text" id="name" name="name"></p>
  <p>Ingredients: <input type="text" id="ingredients" name="ingredients"></p>
  <p>Cook Time: <input type="text" id="cook_time" name="cook_time"></p>
  <input type="submit" id="Edit" name="Edit" value="Edit">
</form>
