<form action="/recipes" method="post">
  <p><label for="name">Name: <input type="text" name="name" value=""></label></p>
  <p><label for="ingredients">Ingredients: <input type="text" name="ingredients" value=""></label></p>
  <p><label for="cook_time">Cook Time: <input type="text" name="cook_time" value=""></label></p>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" name="button" value="Submit">Submit</button>
</form>
