<form class="" action="/recipes" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="">
  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients" value="">
  <label for="cook_time">Cook Time</label>
  <input type="text" name="cook_time" value="">
  <input type="submit" name="" value="Submit">
</form>
