<body>
  <h1>Create A New Recipe</h1>
  <form method=POST action="/recipes">
    <h3><label id = 'name'>Enter Name of Recipe:</label></h3>
    <input type = 'text' name = 'name' placeholder ='name'><br>
    <h3><label id = 'name'>Enter Ingredients of Recipe:</label></h3>
    <input type = 'text' name = 'ingredients' placeholder ='ingredients'><br>
    <h3><label id = 'name'>Cook Time:</label></h3>
    <input type = 'text' name = 'cook_time' placeholder ='Cook Time'><br><br>
    <input type = 'submit' value ='Create Recipe'>
  </form>
</body>
