<form action="/recipes" method="post">
  <p><label for="name">Name: </label><input type="text" name="name" ></p>
  <p><label for="ingredients">Ingredients: </label><input type="text" name="ingredients" ></p>
  <p><label for="cook_time">Cook Time: </label><input type="text" name="cook_time" ></p>
  <input type="submit" value="Submit">
</form>
