<H2>Enter your new recipe below</h2>
<form action ="/recipes" method="post">
  Recipe name: <input type="text" name="name" id="name"><br>
  Recipe ingredients: <input type="text" name = "ingredients" id = "ingredients"><br>
  Cooking time: <input type="text" name = "cook_time" id = "cook_time"><br>
  <input type="submit" value="submit">
</form>
