<h1>Enter a new recipe below</h1>
<br>
<form method="POST" action="/recipes">
  <p>Recipe name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook time: <input type="text" name="cook_time"></p>
  <input type="submit" value="Submit">
</form>
