<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form method="post" action="/recipes">
      <h1>New Recipe</h1>
      <h1>Please enter the name, ingredients, and cook time of the recipe you wish to add</h1>
          <p>Name:<input type="text" name="name"></p>
          <p>Ingredients:<input type="text" name="ingredients"></p>
          <p>Cook Time:<input type="text" name="cook_time"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>