<form method='post' action='/recipes'>
    <label for='name'>Name:</label>
    <input name='name' type='text' value='name'/>
    <label for='ingredients'>Ingredients:</label>
    <input name='ingredients' type='text' value='ingredients'/>
    <label for='cook_time'>cook_time:</label>
    <input name='cook_time' type='text' value='cook_time'/>
    <input type='submit' value='Submit'/>
</form>