<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe Not Found</title>
  </head>
  <body>
    <h1>Whoopsie...</h1>
    <h2>We couldn't find that recipe</h2>
    <h3>Please <a href="/recipes">click here</a> to return to all recipes</h3>    
  </body>
</html>
