<h4><%= @recipe.name %></h4>
<h4><%= @recipe.ingredients %></h4>
<h4><%= @recipe.cook_time %></h4>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
