<h2>List of all recipes</h2>
<% @recipes.each do |recipe| %>
  <h3>Recipe name: <%= recipe.name %></h3>
  <h3>Recipe ingredients: <%= recipe.ingredients %></h3>
  <h3>Recipe cook time: <%= recipe.cook_time %></h3>
  <h3>-----------------------------------------</h3>
<% end %>
