<ul><h2>Recipe Name: <%= @recipe.name %></h2></ul>
<ul>Ingredients: <%=@recipe.ingredients%></ul>
<ul>Cook Time: <%=@recipe.cook_time%></ul>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
