<h2><%=@recipe.name%>: </h2>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Cook Time: <%=@recipe.cook_time%></p>
<form method="post" action="/recipes/<%=@recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
