<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
</head>

  <body>
    <%@recipes.each_with_index |recipe, i|%>
    <h3><%=i%>.<%=recipe.name%></h3>
    <p>Ingredients: <%=recipe.ingredients%></p>
    <p>Cook Time: <%=recipe.cook_time%></p>
    <a href="/recipes/#{recipe.id}">Click Here for More Information</a>
    <%end%>
  </body>
</html>
