<h1><%= @recipe.name %></h1>
<h3>Cook Time: <%= @recipe.cook_time %></h3>
<h3>Ingredients: <%= @recipe.ingredients %></h3>
<form method="post" action="/recipes/<%=@recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>


