<h1>Your Recipes</h1>

  <% @recipes.each do |recipe| %>
    <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
    <ul><li><%= recipe.ingredients %></li>
    <li><%= recipe.cook_time %></li></ul>
  <% end %>
