


<form method="post" action="/recipes">
  <h2>Make a New Recipe:</h2>

  <h3>Recipe Name: <input name="name" type="text"></h3>
  <h3>Recipe Ingredients: <input name="ingredients" type="text"></h3>

  <input type="submit" id="submit">

</form>


<h2> All Recipes </h2>
<% Recipe.all.each do |recipe| %>
  <li><%= recipe.name %></li>
  <li><%= recipe.ingredients %></li>
  <li><a href="/recipes/<%= recipe.id %>">Link to Recipe</a>
<% end %>
