

<ol>
  <%@recipes.each do |recipe|%>

    <li><a href="/recipes/#{recipe.id}"><%= recipe.name %></a></li>
    
  <%end%>

</ol>





    it "displays a list of recipes" do
      expect(last_response.body).to include(recipe_name)
      expect(last_response.body).to include(@recipe2.name)

    end

    it "contains links to each recipe's show page" do
      expect(last_response.body).to include("/recipes/#{@recipe1.id}")
    end