<h1>Your Recipes:</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <% #binding.pry %>
    <li><%= recipe.name %><a href="/recipes/<%="#{recipe.id}"%>"</li>
    
  <% end %>
    <% #binding.pry %>
</ul>