<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Test show page</h1>
	<h2><%= @recipe.name %></h2>
	<h2><%= @recipe.ingredients %></h2>
	<h2><%= @recipe.cook_time %></h2>

	<h3>To delete this recipe, click the button below:</h3>
	<form action="/recipes/<%=@recipe.id%>/delete" method="post">
		<!-- <input type="hidden" name="_method" id="hidden" value="delete"> -->
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" name="submit" value="delete">

	</form>

</body>
</html>