<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: <%= @recipe.name %></h1>
    <h2>Ingredients: <%= @recipe.ingredients %></h2>
    <h3>Cooktime: <%= @recipe.cook_time %> minutes</h3>

    <form method="post" action="/recipes/<%= @recipe.id%>/delete" >
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit"  value="delete">
    </form>
  </body>
</html>
