<h3><%= @recipe.name %></h3>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time %></h3>
<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
