<h2>RECIPES</h2>
<h3><%= @recipe.name %></h3>
<label for="ingredients"><em>Ingredients</em></label><br>
<p><%= @recipe.ingredients %></p><br>
<label for="cooktime"><em>Cook Time</em></label><br>
<p><%= @recipe.cook_time %></p><br>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>