<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe page</title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <h3><%= @recipe.ingredients %></h3>
    <h4><%= @recipe.cook_time %></h4>

    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="delete">
    </form>
  </body>
</html>
