<h1>RECIPE DETAILS</h1>
<br>
<br>
<h3>Recipe Name: <%= @recipe.name %></h3>
<h3>Recipe Ingredients: <%= @recipe.ingredients %></h3>
<h3>Recipe Cook Time: <%= @recipe.cook_time %></h3>
<br>
<br>
<br>
<form method="POST" action="/recipes/<%= @recipe.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" id="submit" value="delete">
</form>