<h1>Recipe</h1>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <h2>Name: <%= @recipe.name %></h2>
  <h2>Ingredients: <%= @recipe.ingredients %></h2>
  <h2>Cooktime: <%= @recipe.cook_time %></h2>
  
  <button type="submit" value="delete">Delete</button>
</form>
