
name: <%=@recipe.name%>
<br>
ingredients: <%=@recipe.ingredients%>
<br>
cook_time: <%=@recipe.cook_time%>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
<!-- #  redirect to '/recipes -->
