<h1><%= @recipe.name %></h1>

<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %> minutes</p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post" accept-charset="utf-8">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" id="delete">
</form>
