<html>
  <body>

    <h1><%= @recipe.name %></h1>
    <h1><%= @recipe.ingredients %></h1>
    <h1><%= @recipe.cook_time %></h1>

    <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>


  </body>
</html>