<p>Recipe Name:</p>
<p><%= @recipe.name %></p>
<p>Recipe Ingredients:</p>
<p><%= @recipe.ingredients %></p>
<p>Recipe Cook Time:</p>
<p><%= @recipe.cook_time %></p>
<form method="post" action="/recipes/<%= "#{@recipe.id}" %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>