
  <h1>Name:</h1> <h2><%= @recipe.name %></h2></br>
  <h1>ingredients:</h1> <h2><%= @recipe.ingredients %></h2></br>
  <h1>Cook Time:</h1> <h2><%= @recipe.cook_time %></h2></br>

  <form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
