
<%= @recipe.name %>
<br>
<%= @recipe.ingredients %>
<br>
<p> <%= @recipe.cook_time %> minutes </p>


<form method="post" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete"/>
</form>
