
<form method="get" action="/recipes/:id">
  <h1>Recipe: <%= @recipe.name %></h1><br>
  <h3>Ingredients: <%= @recipe.ingredients %></h3><br>
  <h3>Cook Time: <%= @recipe.cook_time %></h3><br>
</form>

<form method="post" action="/recipes/<%= @recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='delete'>
</form>
