<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Box</title>
</head>
<body>
  <h1>Recipe Box</h1>
  <h2><%= @recipe.name %></h2>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Cook time: <%= @recipe.cook_time %></p>

  <form action="/recipes/<%= @recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</body>
</html>