<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <div class="recipe">
      <h3><%= @recipe.name %></h3>
      <h4><%= @recipe.ingredients %></h4><br>
      <h4><%= @recipe.cook_time %></h4><br>
    </div><br>
    <div class="delete">
      <form method="post" action="/recipes/<%= @recipe.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    </div>
  </body>
</html>
