<h2><%= @recipe.name %></h2>

<h4>Ingredients: <%= @recipe.ingredients %></h4>

<h4>Cook TIme: <%= @recipe.cook_time %> minutes</h4>

<form method="post" action="/recipes/<%= @model.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>