<h1>Here is your Recipe</h1>
<h3>Recipe Name: <%=@recipe.name%></h3>
<h3>Recipe Ingredients: <%=@recipe.ingredients%></h3>
<h3>Recipe Cook Time: <%=@recipe.cook_time%> minutes</h3>

<form action="/recipes/<%=@recipe.id%>/delete" method ="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
