
<h2><%=@recipe.name%></h2><br>
<%=@recipe.ingredients%><br>
<%=@recipe.cook_time%><br>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
