<h1>Recipe Name: <%= @recipe.name %></h1>
<p>
  Ingredients: <%= @recipe.ingredients %><br>
  Cook Time: <%= @recipe.cook_time %>
</p>

<form method="post" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
