<p><%= @post.name %></p><br>
<p><%= @post.ingredients %></p><br>
<p><%= @post.cook_time %></p><br>
<form action="/recipes/:id" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
