<h1><%= @recipe.name %></h1>
<p><strong>Ingredients:</strong><%= @recipe.ingredients %></p>
<p><strong>Cook Time:</strong><%= @recipe.cook_time %> minutes</p>
<form method="POST" action=<%= "/recipes/#{@recipe.id}" %>>
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete This Recipe">
</form>
<a href="/recipes"><p>All Recipes</p></a> 
