<p>Name: <%=@recipe.name %></p>
<p>Ingredients: <%=@recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time % binding.pry></p>

<!-- <form class="" action="/posts/<%= @post.id %>/delete" method="post">
  <input id ="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" name="" value="Delete">
</form> -->
