<h1>Recipe for <%=@recipe.name.upcase%>!</h1>


<h2><%= @recipe.ingredients%></h2>
<p><%= @recipe.cook_time %></p>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>
