Recipe Name: <%= @recipe.name %>
Recipe Ingredients: <%= @recipe.ingredients %>
Cooking Time: <%= @recipe.cook_time %>
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input type="hidden" value="delete" name="_method" id="hidden">
  <input type="submit" value="delete">
</form>
