Name: <%= @recipe.name %>
Ingredients: <%= @recipe.ingredients %>
Cook time: <%= @recipe.cook_time %>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
