<h1><%= @recipe.name %></h1>
<h1><%= @recipe.ingredients %></h1>
<h1><%= @recipe.cook_time %></h1>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="delete" id="delete">
</form>