<h1><%=@recipe.name%></h1>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Cook Time: <%=@recipe.cook_time%></p>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete Recipe">
</form>