<html>
    <h1>Here is the recipe "<%=@recipe.name%>":</h1>
    <h2>These are the ingredients: <%=@recipe.ingredients%>.</h2>
    <h2>Estimated cooking time :<%=@recipe.cook_time%></h2>
    <form action="/recipes/<%=@recipe.id%>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>
</html>