<h2> Name: <%= @recipe.name %> </h2><br>
<h2> Content: <%= @recipe.ingredients %> </h2><br>
<h2> Content: <%= @recipe.cook_time %> </h2><br>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <% #binding.pry %>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <% #binding.pry %>
  <input type="submit"  id="delete" value="DELETE">

</form>
