<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>

<form class="" action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="delete">
</form>
