<h1>Recipe Name: <%= @recipe.name %></h1>

<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Cooking Time: <%= @recipe.cook_time %></h3>

<form action=<%= "/recipes/#{@recipe.id}/delete" %> method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" id="delete">Delete</button>
</form>