<h2>Recipe Name: <%= @recipe.name %> </h2>
<h2>Ingredients: <%= @recipe.ingredients %> </h2>
<h2>Cook Time: <%= @recipe.cook_time %> </h2>

<form action="/recipes/<%= @recipe.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>
