<h1><%=@recipe.name%></h1>
<p>Cook Time: <%=@recipe.cook_time%></p>
<p>Ingredients:</p>
<p><%=@recipe.ingredients%></p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<a href="/recipes">View All Recipes</a>
