Name: <%= @recipe.name %>
Ingredients <%= @recipe.ingredients %>
Cook time <%= @recipe.cook_time %>

<form method="post" action="/recipes/<%=@recipe.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
