<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your newly created recipe is below:</h1>
    <h3>Name: <%= @recipe.name %></h3>
    <h5>Ingredients: <%= @recipe.ingredients %></h5>
    <h5>Cook Time: <%= @recipe.cook_time %></h5>
    <form class="" action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="delete">
    </form>
  </body>
</html>
