<h1><%= @recipe.name %></h1>
<h4>Ingredients</h4>
<p><%= @recipe.ingredients %></p>
<p><u>Cook Time:</u> <%= @recipe.cook_time %></p>

<form method="post" action="/recipes/<%=@recipe.id%>/delete">
  <input type="submit" id="delete" name="delete" value="DELETE">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>