<!doctype=HTML>
<header>
  <title>Show Recipe </title>
</header>
<body>
<h1> Recipe</h1>
<p>Name: <%=@recipe.name%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Cook Time: <%=@recipe.cook_time%></p>
  <form method= "POST" action= "/recipes/<%= @recipe.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type= "submit" value= "delete">
  </form>
</body>
