<h1><%= @recipe.name %></h1>
<ul>
  <li><%= @recipe.ingredients %></li>
  <li><%= @recipe.cook_time %></li>
</ul>

<form method="POST" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
