<h1><%= @recipe.name %></h1><br>
<h2>Ingredients</h2>
<p><%= @recipe.ingredients %></p><br>
<h2>Cooking Time: <%= @recipe.cook_time %></h2>


<form action="/recipes/<%= @recipe.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>




