
Here's your <%= @recipe.name %> recipe:<br> <br>

Ingredients: <%= @recipe.ingredients %> <br>
Cook Time: <%= @recipe.cook_time %> minutes

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
