<!DOCTYPE html>
<html>
  <body>
    <body>
      <p>Name: <%=@recipe[:name]%></p>
      <p>Ingredients: <%=@recipe[:ingredients]%></p>
      <p>Cook Time: <%=@recipe[:cook_time]%></p>
      <a href=></a>
    </body>
</html>
