<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Name: <%= @recipe.name %>
    Ingredients <%= @recipe.ingredients %>
    Cook time <%= @recipe.cook_time %>

    <form method="post" action="/recipes/<%=@recipe.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">

      <button type="submit" value="delete">submit</button>
    </form>
  </body>
</html>
