<h1>Selected Recipe</h1>
<h2>Recipe Name: <%= @recipe.name %></h2>
<h3>Ingredients:</h3>
<p><%= @recipe.ingredients %></p>
<h3>Cook Time:</h3>
<p><%= @recipe.cook_time %></p>

<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete">
</form>