<h1> Your New Recipe </h1>
<h2> New Recipe Name: <%= @new_recipe.name %></h2>
<br>
<h2> New Recipe Ingredients: <%= @new_recipe.ingredients %></h2>
<br>
<h2> New Recipe Cook Time (minutes): <%= @new_recipe.cook_time %></h2>

<a href="/allrecipes">Click here to see all recipes</a>
