<h1><%= @recipe.name %></h1>
<h3>Cook Time: <%= @recipe.cook_time %></h3>
<p>Ingredients: <%= @recipe.ingredients %></p>
<ul>
    <% @recipe.ingredients.split(",").each do |ingredient| %>
        <li><%= ingredient %></li>
    <% end %>
</ul>