<%= @recipe.name %><br>
<%= @recipe.ingredients %><br>
<%= @recipe.cook_time %><br>


<form method="POST" action="/recipes/<%=@recipe.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value ="delete">
</form>