<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @recipe.name %></title>
  </head>
  <body>
    <h2><%= @recipe.name %></h2>
    <p><%= r.ingredients %></p>
    <p><%= r.cook_time %></p>
  </body>
</html>
