<html>
<head>
  <title>Your Recipe</title>
</head>
<body>

<h2><%= @recipe.name %></h2>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time.to_i %> minutes</h3>

  <form method="post" action="/recipes/<%= @recipe.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="submit" value="delete">
  </form>

</body>
</html>

