<label>Name:<%=@recipe.name%></label>
<label>Ingredients:<%=@recipe.ingredients%></label>
<label>Cook Time:<%=@recipe.cook_time%> minutes</label>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>