<h4><strong><%=@recipe.name%></strong></h4><br>
<p><%=@recipe.ingredients%></p><br>
<p><%=@recipe.cook_time%></p><br>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>