<h1><%=@recipe.name%></h1>
<h2>ingredients: <%= @recipe.ingredients %></h2>
<h3>Cook time: <%= @recipe.cook_time %></h3>
<form action="/recipes/<%=@recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" />
</form>
