<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @recipe.name %><br>
    <%= @recipe.ingredients %><br>
    <%= @recipe.cook_time %>
    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="delete">
    </form>
  </body>
</html>
