<p><%= @recipe.name%>
<p><%= @recipe.ingredients %>
<p><%= @recipe.cook_time %>


<form action = "/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="delete">
</form>
