<h1>Recipe:</h1>

<h2><%= @recipe.name %></h2>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %> minutes</p>

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>