<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Recipe</title>
  </head>
  <body>
    <h1>Show Recipe</h1>
    <h1><%= @recipes.name %><br>
    <p><%= @recipes.ingredients %></p>
    <p><%= @recipes.cook_time %></p>

  <form action="/recipes/<%=@recipes.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" value="delete">
  </form>
  </body>
</html>
