<h3> Recipe Name: <%= @recipe.name %> </h3>
<p> Recipe Ingredients: <%= @recipe.ingredients %> </p>
<p> Recipe Cook Time: <%= @recipe.cook_time %> </p>

<br>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete Recipe">
</form>