<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Index</h1>
    <%Recipe.all.each do |list|%>
    <h3><%=list.name%></h3>
    <h3><%=list.ingredients%></h3>
     <h3><%=list.cook_time%></h3>
     <form action="/recipes/<%= @recipe.id %>/delete" method="post">
     <input id="hidden" type="hidden" name="_method" value="delete">
       <input id="name" type="text" name="name">
       <input id="name" type="text" name="content">
      <input type="submit" value="submit">




     </form>



  </body>
</html>
<%end%>