<h1><%= @recipe.name %></h1><br>
<p><%= @recipe.ingredients %></p><br>
<p><%= @recipe.cook_time %></p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="delete">
</form>