
Name: <%=@recipe.name%>
Ingredients: <%=@recipe.ingredients%>
Cook time: <%=@recipe.cook_time%>

<form action="/recipes/<%=@recipes.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" name="delete" value="delete">
</form>
