<h1> <%= @recipe.name %> </h1>
<br>
<p> <%= @recipe.ingredients %> </p>
<br>
<h6> <%= @recipe.cook_time %> minutes </h6>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>