<h1><em><%= @recipe.name %></em></h1>

<p>
  Ingredients: 
  <ul>
    <% @recipe.ingredients.split(",").each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
  Cook Time: <%= @recipe.cook_time %>
</p>