<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>

<form class="" action="index.html" method="post">

<a href="<%=/posts/:id/delete%>">DeleteRecipe</a>
</form>
#  redirect to '/recipes'
