<!DOCTYPE html>
<html>
    <head>
      <title>My Recipes Collection</title>
    </head>
    <body>
      <h1>You're a rockstar chef!</h1>
      
      <p>That recipe is going to rock the tastebuds! <a href='/recipes'>View your recipes.</a></p>
  </body>
</html>